<h2>Группы пользователей. <%= @msg if @msg %></h2>
<%= link_to "Все группы", usergroups_path  if @msg %>

<%= will_paginate @usergroups, class: "apple_pagination" %>

<table>
  <tr>
    <th>Группа</th>
   <!-- <th style="width: 20%"><%= link_to 'Роли', roles_path %></th> -->
    <th style="width: 20%"><%= link_to 'Функционал', functionals_path %></th>
    <th style="width: 20%"><%= link_to "Пользователи" , users_path %> </th>
    <th></th>
    <th colspan="2"></th>
  </tr>

<% @usergroups.each do |usergroup| %>
  <tr class="<%= cycle("","even") %>">
    <td><%= usergroup.name %><span class="red"><%= "удалено" if usergroup.is_close  %></span></td>
 <!--   <td><%#= render partial: "group_role" , locals: {group_role: usergroup}%>   </td>  -->
    <td><%= render partial: "group_functional" , locals: {group_functional: usergroup}%> </td>
    <td><%= link_to "Пользователи в группе" ,users_path(group: usergroup) if usergroup.users.any? %> </td>
    <td><%= link_to 'Просмотр' , usergroup %> </td>
    <td class="edit"><%= link_to link_to image_tag("edit.png", style: "width: 20px;"), edit_usergroup_path(usergroup) %></td>
    <td class="del" title="Удалить"><%= link_to link_to image_tag("remove.png", style: "width: 20px;"), usergroup, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>

<% end %>
  <tr><th colspan="7"><%= button_to 'Новая группа', new_usergroup_path, method: :get %></th></tr>
</table>

<%= will_paginate @usergroups, class: "apple_pagination" %>

