.page-header

  %h2 Гражданство

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#citizenships
    %thead
      %tr
        %th Гражданство
        %th Удалено
        %th
        %th
        %th

    %tbody
      - @citizenships.each do |citizenship|
        %tr
          %td= citizenship.name
          %td= citizenship.is_close
          %td.show1= link_to image_tag("show.png"), citizenship
          %td.edit= link_to image_tag("edit.png"), edit_citizenship_path(citizenship)
          %td.del= link_to image_tag("remove.png"), citizenship, :data => { confirm: 'Точно?' }, :method => :delete unless citizenship.is_close

  = link_to new_citizenship_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Добавить гражданство
