.page-header
  %h2 
    Портал

=# pie_chart User.group(:name).count 
.col-md-10.col-md-offset-1
  .alert.alert-info.text-center 
    %strong Активный пользователь: #{current_user.fullname} 
    %p Функционал: #{current_user.all_f_groups.map(&:name).join(', ')}
    %p Количество заходов: #{current_user.sign_in_count}
    %p Время последнего захода: #{current_user.current_sign_in_at + 3.hours if current_user.current_sign_in_at}
  .alert.alert-success.text-center 
    %strong Пользователей онлайн: #{User.online.size} 

  - if user_signed_in? and current_user.admin
    .first.text-center.well
      - @users.each_slice(((@users.size) / 5) + 1) do |users|
        %ul
          - users.each_cons(2) do |user, next_user|
            %li{:class => "#{'red_cell' unless user.ldap_valid?}", :title => "Заходов: #{user.sign_in_count}, Последний заход: #{user.current_sign_in_at + 3.hours if user.current_sign_in_at}, IP последнего захода: #{user.current_sign_in_ip}"}
              = link_to user.fullname, {controller: "main", action: "change_user", id: user.id}, style: user.online? ? 'color: green' : 'color: red' 
              = 'Нет в LDAP' unless user.ldap_valid?
            - if user.last_name[0] != next_user.last_name[0]
              %li{:style => "list-style-type: none"}
                %strong= next_user.last_name[0]
               






