= form_for @contractor_analysis_parameter_change, :html => { :class => "form-horizontal" } do |f|
  -if @contractor_analysis_parameter_change.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@contractor_analysis_parameter_change.errors.count, "error")} "

      %ul
        - @contractor_analysis_parameter_change.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :contractor_analysis_parameter_id, 'Наименование параметра', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select( :contractor_analysis_parameter_id, ContractorAnalysisParameter.all, :id, :name,
          { prompt: @contractor_analysis_parameter_change.contractor_analysis_parameter_id ? nil : "Выберите параметр",
            selected: @contractor_analysis_parameter_change.contractor_analysis_parameter_id ? @contractor_analysis_parameter_change.contractor_analysis_parameter_id : nil}, :class => 'form-control'  )
  .form-group
    = f.label :parameter_value, 'Значение параметра', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :parameter_value, :class => 'form-control'
  .form-group
    = f.label :start_date, 'Дата начала действия', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :start_date, :class => 'form-control'
  .form-group
    = f.label :end_date, 'Дата окончания действия', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :end_date, :class => 'form-control'
  .form-group
    = f.label :is_close, 'Удалено', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to contractor_analysis_parameter_changes_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться

:javascript 
  $('#contractor_analysis_parameter_change_start_date').datetimepicker({ format:'d/m/Y'});
  $('#contractor_analysis_parameter_change_end_date').datetimepicker({ format:'d/m/Y'});