= @contractors_no_responsibles2
%table
  %tbody
    - @contractors_no_responsibles.each do |contractor_nr|
      %tr
        %td.text-center.btn.btn-primary.btn-xs{:style => "display: block"}
          = link_to new_contractor_responsible_path(contractor: contractor_nr.id), remote: true, class: '' do
            %span.glyphicon.glyphicon-plus
              Назначить
        %td
          = contractor_nr.shortname_inn_kpp