.panel.panel-default
  .panel-heading Ответственные по контрагенту #{@contractor.name if @contractor}
  .panel-body
    - if @contractor
      = link_to new_contractor_responsible_path(contractor: @contractor.id), remote: true, :class => 'btn btn-primary btn-xs' do
        %span.glyphicon.glyphicon-plus
          Назначить ответственного

      - if @contractor_responsibles.any?
        %table
          %thead
            %tr
              %th Контрагент
              %th Ответственный
              %th Замещает ответственного
              %th Дата начала действия
              %th Дата окончания действия
              %th
              %th
          %tbody
            - @contractor_responsibles.each do |contractor_responsible|
              %tr{:class => "#{'select_green' if contractor_responsible.chained?}"}
                %td= contractor_responsible.contractor.short_name if contractor_responsible.contractor
                %td= contractor_responsible.employee.person_fullname if contractor_responsible.employee
                %td= contractor_responsible.parent_by_contractor.person_fullname if contractor_responsible.parent_by_contractor
                %td= contractor_responsible.start_date
                %td= contractor_responsible.end_date
                %td.edit{:title => "Редатировать"}= link_to image_tag("edit.png"), edit_contractor_responsible_path(contractor_responsible), remote: true if contractor_responsible.chained?
                %td.del{:title => "Расцепить"}
                  - if contractor_responsible.chained?
                    = link_to unchain_responsible_contractor_responsible_path(contractor_responsible), data: { confirm: 'Уверены?' }, remote: true do
                      %span.glyphicon.glyphicon-random 

