%ul{:id => "c#{item.id}", :style => "display: none;"}
  - item.children.each do |functionalgroup|
    %li{:id => "#{functionalgroup.id}"}
      %div
        - if functionalgroup.is_close
          %span.red= functionalgroup.name
        - else
          = functionalgroup.name
        - unless functionalgroup.leaf?
          %span.glyphicon.glyphicon-plus{:onclick => "$('#c#{functionalgroup.id}').toggle()", :style => "cursor: pointer;"}
        %span.del{:title => "Удалить"}= link_to image_tag("remove.png"), functionalgroup, method: :delete, data: { confirm: 'Точно?' } unless functionalgroup.is_close
        %span.edit= link_to image_tag("edit.png"), edit_functionalgroup_path(functionalgroup)
        %span.new= link_to 'Добавить функционал', new_functionalgroup_path(id: functionalgroup.id), class: "btn btn-primary btn-xs" 
      = render 'children', :item => functionalgroup unless functionalgroup.leaf?
