- if @functionalgroup.errors.any? 
  #error_explanation
    %h2 Ошибок: #{@functionalgroup.errors.count}
    %ul
      - @functionalgroup.errors.full_messages.each do |msg|
        %li= msg     

%table
  = form_for(@functionalgroup) do |f|
    %tr
      %th= f.label :parent_id, "Родитель"
      %td= f.select :parent_id, nested_set_options(Functionalgroup.visible, @functionalgroup) {|i| "#{'++++   ' * i.level} #{i.name}" },
                { selected: @functionalgroup.child? ? @functionalgroup.parent_id : nil, include_blank: "Нет" } 
    %tr
      %th= f.label :name, "Наименование" 
      %td= f.text_field :name
    %tr
      %th= f.label :descr, "Описание" 
      %td= f.text_area :descr
    %tr
      %th= f.label :part, "модуль"
      %td= f.text_field :part 
    %tr
      %th= f.label :link, "Ссылка"
      %td= f.text_field :link 
    %tr
      %th= label_tag :ctrl, "Контроллер и действие"
      %td 
        = f.select(:controller,  options_for_select(@ctrl.map { |m| [m, m] }) )
        = select_tag(:act,  options_for_select(@act.map { |a| [a.last, a.last, { class: a.first}] }) )
    %tr
      %th
        = f.label :is_close, "Удалено"
        = f.check_box :is_close
      %td
        = f.submit "Сохранить" , class: "btn btn-primary" 
        = link_to 'Вернуться', functionalgroups_path, class: "btn btn-default" 
 
:coffeescript
  $ ->
    $("#act").chained "#functionalgroup_controller"
    return
