.page-header
  %h2 Функциональные группы

.col-md-offset-3.col-md-6
  .well.well-sm 
    = link_to "Сохранить", url_for(action: "index"), id: "serialize", class: "btn btn-primary" 
    = link_to 'Добавить функционал', new_functionalgroup_path, class: "btn btn-success"

  %ul#sortable
    - for functionalgroup in Functionalgroup.roots
      %li{:id => "#{functionalgroup.id}", :class => "#{cycle("","even")}"}
        %div
          - if functionalgroup.is_close
            %span.btn.btn-danger.btn-xs= functionalgroup.name
          - else
            %span.btn.btn-success.btn-xs= functionalgroup.name
          - unless functionalgroup.leaf? 
            %span.glyphicon.glyphicon-plus{:onclick => "$('#c#{functionalgroup.id}').toggle()", :style => "cursor: pointer;"}
          %span.del{:title => "Удалить"}= link_to image_tag("remove.png"), functionalgroup, method: :delete, data: { confirm: 'Точно?' } unless functionalgroup.is_close
          %span.edit= link_to image_tag("edit.png"), edit_functionalgroup_path(functionalgroup)
          %span.new= link_to 'Добавить функционал', new_functionalgroup_path(id: functionalgroup.id), class: "btn btn-primary btn-xs" 
        = render 'children', :item => functionalgroup unless functionalgroup.leaf?

:coffeescript 
  nestsort()


