
<% if @phone.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @phone.errors.count %></h2>

      <ul>
      <% @phone.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@phone) do |f| %>
  <table>
    <tr>
      <th><%= f.label :phone, "Номер телефона" %></th>
      <td><%= f.text_field :phone, class: "input_phone" %></td>
      <td colspan="4"></td>

    </tr>
    <tr>
      <th><%= f.label :start_date, "Дата активации" %></th>
      <td><%= f.text_field :start_date %></td>
      <th><%= f.label :end_date, "Дата деактивации" %></th>
      <td><%= f.text_field :end_date %></td>
      <th><%= f.label :is_close, "Удалено" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="6"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', phones_path %></th>
    </tr>
  </table>
<% end %>

<script>
      $('#phone_start_date').datetimepicker({ format:'d/m/Y'});
      $('#phone_end_date').datetimepicker({ format:'d/m/Y'});
</script>
