- unless @error.blank?
  .alert.alert-danger= @error
.panel.panel-default
  .panel-heading Причины отмены заявок
  .panel-body
    %table#entry_cancels
      %thead
        %tr
          %th Ресурс
          %th Причина отмены заявки
          %th
          %th
      %tbody
        - @entry_cancels.each do |cancel|
          %tr
            %td= cancel["ResourceTypeName"]
            %td= cancel["Name"]
            %td.edit{:title => "Редактировать"}
              = link_to '', proposal_cancels_path(id: cancel["Id"], cancel_type: 1), class: 'glyphicon glyphicon-edit', remote: true
            %td.del{:title => "Удалить"}
              = link_to '', proposal_cancels_path(id: cancel["Id"], cancel_type: 1), method: :delete, data: { confirm: 'Уверены?' }, class: 'glyphicon glyphicon-remove red', remote: true


.panel.panel-default
  .panel-heading Причины отмены выполнений
  .panel-body
    %table#work_cancels
      %thead
        %tr
          %th Ресурс
          %th Причина отмены выполнения
          %th
          %th
      %tbody
        - @work_cancels.each do |cancel|
          %tr
            %td= cancel["ResourceTypeName"]
            %td= cancel["Name"]
            %td.edit{:title => "Редактировать"}
              = link_to proposal_cancels_path(id: cancel["Id"], cancel_type: 2), remote: true do
                %span.glyphicon.glyphicon-edit
            %td.del{:title => "Удалить"}
              = link_to proposal_cancels_path(id: cancel["Id"], cancel_type: 2), method: :delete, data: { confirm: 'Уверены?' }, remote: true do
                %span.glyphicon.glyphicon-remove.red

:coffeescript        
  $("#entry_cancels").dataTable
    lengthMenu: [[10, 30, 100, -1], [10, 30, 100, "Все"]]
    bAutoWidth: false
  $("#work_cancels").dataTable
    lengthMenu: [[10, 30, 100, -1], [10, 30, 100, "Все"]]
    bAutoWidth: false