- unless @error.blank?
  .alert.alert-danger= @error
%table#reasons
  %thead
    %tr
      %th Тип ресурса
      %th Причина обращения
      %th Инициирует недоступность ресурса
      %th Тип недоступности
      %th
      %th
  %tbody
    - @reasons.each do |reason|
      %tr
        %td= reason["ResourceTypeName"]
        %td= reason["Name"]
        %td= reason["IsResourceBlocking"] ? 'Да' : 'Нет'
        %td= reason["InaccessibilityTypeName"]
        %td.edit{:title => "Редактировать"}
          = link_to proposal_set_reason_path(id: reason["Id"]), remote: true do
            %span.glyphicon.glyphicon-edit
        %td.del{:title => "Удалить"}
          = link_to proposal_set_reason_path(id: reason["Id"]), method: :delete, data: { confirm: 'Уверены?' }, remote: true do
            %span.glyphicon.glyphicon-remove.red

:coffeescript        
  $("#reasons").dataTable
    lengthMenu: [[30, 60, 100, -1], [30, 60, 100, "Все"]]
    bAutoWidth: false

