.panel.panel-primary
  .panel-heading Выберите причину отмены выполнения № #{@work['Number']}
    
  .panel-body
    %ul
      - @work['CancelReasons'].each do |cancel|
        %li
          = link_to cancel['Name'], proposal_set_work_path(id: @id, cancel_reason_id: cancel['Id']), method: :delete, data: { confirm: 'Уверены?' }, remote: true, class: 'btn btn-primary btn-xs' 
      