- unless @error.blank?
  .alert.alert-danger= @error

%table#works
  %thead
    %tr
      %th №
      %th Создатель выполнения
      %th Момент создания
      %th Подразделение создателя выполнения
      %th Статус выполнения
      %th Тип ресурса
      %th Ресурс
      %th Причина обращения
      %th Плановая дата начала
      %th Плановая дата окончания
      %th Фактическая дата начала
      %th Фактическая дата окончания
      %th Тип недоступности
      %th{:title => "Наличие недоступности"} Н
      %th Причина отмены
      %th Автор отмены
      %th Момент отмены
      %th Заявки
      %th.edit{:title => "Редактировать"}
      %th.del{:title => "Удалить"}
  %tbody
    - @works.each do |work|
      %tr
        %td= work["Number"]
        %td= work["PersonName"]
        %td= work["CreatedAt"].try(:to_datetime)
        %td= work["DepartmentName"]
        %td= work["StatusName"]
        %td= work["ResourceTypeName"]
        %td= work["ResourceName"]
        %td= work["JobRequestReasonName"]
        %td= work["PlannedDateStart"].try(:to_datetime)
        %td= work["PlannedDateEnd"].try(:to_datetime)
        %td= work["FactDateStart"].try(:to_datetime)
        %td= work["FactDateEnd"].try(:to_datetime)
        %td= work["InaccessibilityTypeName"]
        %td{:title => "Наличие недоступности"}
          - if work["StateOfResourceExists"]
            %span.glyphicon.glyphicon-ok-circle.green_letter 
        %td= work["CanelReasonName"]
        %td= work["CancelAuthorName"]
        %td= work["CanelReasonMoment"].try(:to_datetime)
        %td= work["JobRequests"].try(:size)
        %td
          - if work['Permissions'][1] == '1'    
            = link_to "", proposal_set_work_path(id: work["Id"]), remote: true, class: "glyphicon glyphicon-edit"
        %td
          - if work['Permissions'][0] == '1' && can_delete_works_and_entries?
            = link_to '', proposal_show_work_cancels_path(id: work["Id"]), remote: true, class: "glyphicon glyphicon-remove red"
            
 
:coffeescript     

  table = 
    $("#works").dataTable
      order: [[0, "desc"]]
      lengthMenu: [[30, 60, 100, -1], [30, 60, 100, "Все"]]
      columnDefs: [type: 'date-euro', targets: [2, 8, 9, 10, 11, 15]]


  setInterval (->
    table.fnReloadAjax '/proposal/works_dt'
  ), 10000

