- unless @error.blank?
  .alert.alert-danger
    = @error
- else
  - if @destinations_from
    %span.input-group-addon
      %i Локация начала:
    = select_tag :destination_from, options_for_select( @destinations_from.map { |r| [r.second, r.first] }, {selected: @destination_from} ), { class: "form-control" }
  - if @destinations_to
    %span.input-group-addon
      %i Локация окончания:
    = select_tag :destination_to, options_for_select( @destinations_to.map { |r| [r.second, r.first] }, {selected: @destination_to} ), { class: "form-control" }