- unless @error.blank?
  .alert.alert-danger= @error
- if @job_requests.blank?
  .alert.alert-warning Заявок нет
- else
  .alert.alert-info Заявки:
  %table
    %thead
      %tr
        %th
        %th №
        %th Дата создания заявки
        %th Подразделение создателя заявки
        %th Статус заявки
        %th Тип ресурса
        %th Ресурс
        %th Причина обращения
        %th Начало - Окончание
        %th Города
    %tbody
      - @job_requests.each do |request|
        %tr{:title => "Создатель заявки: #{request["PersonFullName"]}", :class => "#{cycle '', 'even'}"} 
          %td= check_box_tag "request[#{request['Id']}]", (@current_requests ? (@current_requests.include?(request['Id']) ? 1 : 0 ) : 0), (@current_requests ? @current_requests.include?(request['Id']) : false)
          %td= request["Number"]
          %td= request["CreatedAt"].try(:to_date)
          %td= request["DepartmentName"]
          %td= request["StatusName"]
          %td= request["ResourceTypeName"]
          %td= request["ResourceName"]
          %td= request["JobRequestReasonName"]
          %td
            #{request["JobStartDate"].try(:to_date)}
            -
            #{request["JobFinishDate"].try(:to_date)}
          %td= request["Cities"].map { |c| c['CityName'] }.join(', ')

/:coffeescript
/  $(':checkbox').checkboxX
/    size: 'lg'
/    threeState: false