- if @entry_cancel
  $("#cancels_entry_div").append("#{j render 'add_cancel_to_reason'}");
- else 
  $("#cancels_work_div").append("#{j render 'add_cancel_to_reason'}");

$(".glyphicon-remove").click(function() { $(this).parents("div").eq(0).remove();});