.page-header
  %h2 Выполнение работ

.col-md-10.col-md-offset-1
  .well.well-sm
    = link_to proposal_set_work_path, class: 'btn btn-primary btn-sm', remote: true do
      %span.glyphicon.glyphicon-plus
      Выполнение работ
  - unless @error.blank?
    .alert.alert-danger= @error

  #show_works
    = render 'works' unless @works.blank?



