- unless @error.blank?
  .alert.alert-danger= @error

.alert.alert-info
  Маршрут: #{@city_from_name} - #{@city_to_name}
- unless @tariff_grid_history.blank?
  %table
    %thead
      %tr
        %th №
        %th Тариф
        %th Начало действия
        %th Окончание действия
        %th
        %th
    %tbody
      - @tariff_grid_history.sort_by { |t| t['StartDate'] }.reverse.each_with_index do |hist, ind|
        %tr{:id => "#{hist['Id']}"}
          %td 
            %strong= ind + 1
          %td= hist['TariffValue']
          %td= hist['StartDate'].to_date unless hist['StartDate'].blank?#.strftime("%d.%m.%Y")
          %td= hist['EndDate'].to_date unless hist['EndDate'].blank?#.strftime("%d.%m.%Y")
          %td.edit= link_to image_tag("edit.png"), tariff_calculator_edit_current_market_tariff_path(id: hist['Id'], transport_kind: @transport_kind, city_from: @city_from, city_to: @city_to, tariff: hist['TariffValue'], region_from: @region_from, region_to: @region_to, start_date: hist['StartDate'].try(:to_date), end_date: hist['EndDate'].try(:to_date), num: ind + 1), remote: true
          %td.del= link_to image_tag("remove.png"), tariff_calculator_destroy_current_market_tariff_path(id: hist['Id'], transport_kind: @transport_kind, region_from: @region_from, region_to: @region_to, city_from: @city_from, city_to: @city_to), :method => :delete, remote: true

%strong 
  .panel.panel-default
    .panel-heading 
      - unless @id.blank?  
        Редактирование тарифа: #{@num}
      - else
        Новый тариф:
    .panel-body
      = form_tag url_for(action: 'save_current_market_tariff'), id: 'market_tariff_form', remote: true, class: "form-horizontal" do |f|
        .form-group.input-group
          = hidden_field_tag :id, @id
          = hidden_field_tag :city_from, @city_from
          = hidden_field_tag :city_to, @city_to
          = hidden_field_tag :region_to, @region_to
          = hidden_field_tag :region_from, @region_from
          = hidden_field_tag :transport_kind, @transport_kind
          %span.input-group-addon
            %i Тариф:
          = number_field_tag :tariff, @tariff, class: "form-control" 
          %span.input-group-addon
            %i Начало:
          = text_field_tag :start_date, @start_date, class: "form-control" 
          %span.input-group-addon
            %i Окончание:
          = text_field_tag :end_date, @end_date, class: "form-control" 

        = submit_tag 'Сохранить', class: 'btn btn-primary', style: "display: inline"

:coffeescript
  $('#start_date').datetimepicker format:'d.m.Y'
  $('#end_date').datetimepicker format:'d.m.Y'
  $("#popup_close").click ->
    $("#market_tarif td").removeClass "red_cell"

  $("#market_tariff_form").submit ->
    $("#waiting_over").show()

  $(".del a").click ->
    $("#waiting_over").show()
    return       
