- unless @error.blank?
  .alert.alert-danger= @error
- else
  - if @cities_to && @cities_from
    %table#market_tarif
      %thead
        %tr
          %th
            .text-right Куда
            .text-left Откуда      
          - @cities_to.each do |city_to|
            %th= city_to['CityName']
      %tbody
        - @cities_from.each do |city_from|
          %tr
            %td.headcol= city_from['CityName']
            - @cities_to.each do |city_to|
              %td{:title => "#{city_from['CityName']} - #{city_to['CityName']}"}
                - tariff = market_current_tariff(@market_tariff_grid, city_from['CityKey'], city_to['CityKey'])
                = link_to tariff, tariff_calculator_edit_current_market_tariff_path(transport_kind: @transport_kind, city_from: city_from['CityKey'], city_to: city_to['CityKey'], region_from: @region_from, region_to: @region_to), class: 'glyphicon glyphicon-edit', remote: true


    :coffeescript

      $(document).ready ->
        lastIdx = null
        table = $("#market_tarif").DataTable
          scrollX: true
          scrollY: false
          lengthMenu: [[30, 60, 100, -1], [30, 50, 100, "Все"]]
        $("#market_tarif tbody").on("mouseover", "td", ->
          colIdx = table.cell(this).index().column
          if colIdx isnt lastIdx
            $(table.cells().nodes()).removeClass "highlight"
            $(table.column(colIdx).nodes()).addClass "highlight"
          return
        ).on "mouseleave", ->
          $(table.cells().nodes()).removeClass "highlight"
          return
        new $.fn.dataTable.FixedColumns(table,
          leftColumns: 1
        )
        return

      $("#market_tarif a").click ->
        $("#market_tarif td").removeClass "red_cell"
        $(this).parent().addClass "red_cell"
        return


      $("#market_tarif a").click ->
        $("#waiting_over").show()


/      $("#market_tarif a").addClass "glyphicon glyphicon-edit"



