$("#popup_content").html("#{j render 'edit_current_market_tariff'}");
$("#popup_head span").html("Редактирование рыночного тарифа: #{@city_from_name} - #{@city_to_name}");
/$("#popup").css('top','300px');
$("#popup").show();
- if @id
  $("#popup_content").effect("highlight", {}, 1000);
- unless @error
  $(".alert-danger").hide();
notice('#{flash[:notice]}');

$("#waiting_over").hide()