#waiting_over= image_tag("ajax-loader2.gif")
.page-header
  %h2 Тарифный калькулятор. Рыночный тариф.
    
#show_form.panel-body.text-right
  = render 'form_market'
.row
  .col-md-12#list
    - unless @error
      = render "market_grid"
    - else
      .alert.alert-danger= @error





