.page-header

  %h2 Типы доп. расходов

.table-responsive.col-md-6.col-md-offset-3
  %table.table.table-striped.table-bordered.table-hover#extra_spending_types
    %thead
      %tr
        %th Наименование
        %th Удален


    %tbody
      - @extra_spending_types.each do |extra_spending_type|
        %tr
          %td= extra_spending_type.name
          %td= extra_spending_type.is_close
