


<table style="table-layout:fixed;">
  <tr>
    <th>Тип двигателя </th>
    <th>Способ погрузки
          <%= link_to action: "show_part", part: "select_loading", id: @transport , remote: true do %>
            <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
          <% end if @transportloadings%>
    </th>
    <th>Топливный бак
           <%= link_to action: "show_part", part: "select_tank", id: @transport , remote: true do %>
            <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
          <% end if @transportfuellings%>
    </th>
  </tr>
  <tr>
    <td><%= @transportengine ? @enginetype : "нет" %> </td>
    <td>
      <% if @transportloadings %>
        <% for l in @transportloadings %>
          [<%= l.loading%>]
        <% end %>
      <% else %>
          нет
      <% end %>
    </td>
    <td>
      <% if @transportfuellings %>
        <% @transportfuellings.each do |tank|  %>
          <b>Объём бака:</b> <%= tank.v_tank %>; <b>Мин. остаток:</b> <%= tank.v_tank_min %>, <br/>
        <% end %>
      <% else %>
          нет
      <% end %>
    </td>
  </tr>
  
</table>


<table>
  <tr>  <th>Модель двигателя</th> <th>Мощность двигателя л.с.</th> <th>Мощность двигателя кВт</th> <th>Рабочий объём двигателя</th> </tr>
  <tr>  <td> <%= @enginemodel_name%>  </td> <td><%= @enginemodel_power%>  </td> <td><%= @enginemodel_power_kvt%>  </td> <td><%= @enginemodel_displacement%>  </td>  </tr>
  <tr>  <th colspan="3">
          <%= link_to action: "show_part", part: "transport_engine", id: @transport , remote: true do %>
          <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать.
          <% end %>
        </th>
  </tr>

</table>