<table>
  <tr>
    <th> Документы:</th><td colspan="2"><%= link_to "Создать документ", action: "show_part", part: "select_new_document", id: @transport,  remote: true %> </td>
  </tr>
  <% @transport.documents.visible.each do |document| %>
  <tr>
    <th><%=  document.documentkind.name if document.documentkind %></th> 
    <td class="edit" title="Редактировать"><%= link_to image_tag("edit.png"),edit_document_path(document) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png"), action: :remove_doc, id: document, method: :delete, data: { confirm: 'Точно?' } %></td>
  </tr>
   <% end if @transport.documents.any? %>
</table>
