- if @transportmodel
  .alert.alert-info
    %strong Вид ТС:
    = @transportkind
    %strong Тип ТС:
    = @transporttype
    %strong Категория ТС:
    = @transportcategory

  .alert.alert-info
    - if @transportengine
      %strong Тип двигателя:
      = @enginetype || "нет"
      %strong Модель двигателя:
      = @enginemodel || "нет"
      %br
    - if @transportfuellings
      %strong Топливный бак:
      - @transportfuellings.each do |tank|
        Объём бака:
        = tank.v_tank
        Мин. остаток:
        = tank.v_tank_min
        %br
    - if @transportloadings
      %strong Способ погрузки:
      = @transportloadings.pluck(:loading).join(', ') || "нет"
      %br

  - if @transportloadings
    .alert.alert-info
      %strong Полезная высота:
      = @transportmodel.useful_height ? @transportmodel.useful_height : "нет"
      %strong Полезная ширина:
      = @transportmodel.try(:useful_width) ? @transportmodel.try(:useful_width) : "нет"
      %strong Полезная длинна:
      = @transportmodel.try(:useful_length) ? @transportmodel.try(:useful_length) : "нет"
      %strong Полезный объём:
      = @transportmodel.try(:useful_volume) ? @transportmodel.try(:useful_volume) : "нет"

  .alert.alert-info
    %strong Габаритная высота:
    = @transportmodel.overall_height ? @transportmodel.overall_height : "нет"
    %strong Габаритная ширина:
    = @transportmodel.try(:overall_width) ? @transportmodel.try(:overall_width) : "нет"
    %strong Габаритная длинна:
    = @transportmodel.try(:overall_length) ? @transportmodel.try(:overall_length) : "нет"

  .alert.alert-info
    %strong Собственный вес:
    = @transportmodel.try(:weight) ? @transportmodel.try(:weight) : "нет"
    %strong Грузоподъёмность:
    = @transportmodel.try(:capacity) ? @transportmodel.try(:capacity) : "нет"
