= link_to 'Тягачи без прицепов', groupings_transports_path(vis: 'without_trailer'), class: "btn btn-default btn-sm #{'btn-success' if user_session[:transport_groupings] == 'without_trailer'}", remote: true 

= link_to 'Тягачи без водителей', groupings_transports_path(vis: 'without_driver'), class: "btn btn-default btn-sm #{'btn-success' if user_session[:transport_groupings] == 'without_driver'}", remote: true  

= link_to 'Все', groupings_transports_path(vis: 'all' ), class: "btn btn-default btn-sm #{'btn-success' if user_session[:transport_groupings].blank? or user_session[:transport_groupings] == 'all'}", remote: true 
