
= form_for @coupler, url: create_and_update_coupler_transports_path, html: { class: "well well-sm", role: "form" }, remote: true do |f|
  -if  @coupler.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@coupler.errors.count} "
      %ul
        - @coupler.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :id unless @coupler.new_record?
  = f.hidden_field :truck_id
  .alert.alert-info
    %strong Тягач
    = @truck.reg_num

  .form-group.input-group
    %span.input-group-addon
      %i Прицеп:
    - if @coupler.new_record?
      = f.collection_select( :trailer_id, @coupler.id.nil? ? @free_trailers : (@free_trailers << @coupler.trailer), :id, :reg_num, |
            { prompt: @coupler.trailer_id ? nil : "Выберите прицеп", |
            selected: @coupler.trailer_id ? @coupler.trailer_id : nil  }, class: "form-control" )
    - else
      = text_field_tag :trailer, @coupler.trailer_num, disabled: 'disabled', class: "form-control"

  .form-group.input-group
    %span.input-group-addon
      %i Начало взаимодействия:
    = f.text_field :start_date, class: "form-control"
    %span.input-group-addon
      %i Окончание взаимодействия:
    = f.text_field :end_date, class: "form-control"

  - if user_can_edit_locked_coupler?(@coupler)
    .form-group.input-group
      %span.input-group-addon
        %i Заблокировано до:
      = f.text_field :locked_to_date, class: "form-control"
      %span.input-group-addon
        %i.glyphicon.glyphicon-remove.red{:title => "Сбросить блокировку", :style => "cursor: pointer"}

  = f.submit 'Сохранить', class: 'btn btn-primary btn-sm'


:coffeescript
  $('#coupler_start_date').datetimepicker timepicker: true
  $('#coupler_end_date').datetimepicker timepicker: true
  $('#coupler_locked_to_date').datetimepicker timepicker: true
  $('#popup_content .glyphicon-remove').click ->
    $('#coupler_locked_to_date').val ''
