<% @enginetype = transport.transportmodel.enginetype if transport.transportmodel  %>

<% if  @enginetype%>
  <%= form_tag  url_for( action: 'select_enginemodel' , id: transport ) , remote: true do %>
  <table>
    <tr>
      <th> Модель двигателя ТС </th>
      <td>
      <%= collection_select( :enginemodel, :id, @enginetype.enginemodels.visible, :id, :name ,
      { prompt: transport.enginemodels.blank? ? "Выберите модель двигателя" : nil,
      selected: transport.enginemodels.any? ? transport.enginemodels.first.id : nil  } ) %>
      </td>
      <th>
        <%= submit_tag "Сохранить" %>
     </th>
    </tr>
  </table>
  <% end %>
<% else %>

  <% unless transport.transportmodel %>
    <h3>Не выбрана модель ТС. </h3>
  <% end %>
  <% if transport.transportmodel and transport.transportmodel.enginetype %>
    <h3>Не выбран тип двигателя модели ТС. </h3>
  <% end %>

<% end %>

