.row
  .col-md-8
    .panel.panel-default
      .panel-heading 
        %h2 Группировки (тягач, прицеп, водитель)
      #grouping_index.panel-body= render 'groupings'

  #grouping_controls.col-md-4
    .well.well-sm.btn-toolbar#grouping_buttons
      = render 'grouping_buttons'

    .panel.panel-default
      .panel-heading Сцепки тягач-прицеп
      #show_couplers.panel-body
        = render 'show_couplers'

    .panel.panel-default
      .panel-heading Связки тягач-водитель
      #show_drivers.panel-body
        = render 'show_drivers'