- unless flash[:notice].blank?  
  notice('#{flash[:notice]}');
$("#show_drivers").html("#{j render 'show_drivers' }");
$("#show_couplers").html("#{j render 'show_couplers' }");
$("#grouping_buttons").html("#{j render 'grouping_buttons' }");
$("#grouping_index").html("#{j render 'groupings' }");
$(document).ready(function() {$("#truks").dataTable({lengthMenu: [[30, 60, 100, -1], [30, 60, 100, "Все"]], columnDefs: [{type: 'date-euro', targets: [1, 2, 5, 6]}] });});
$('#popup').hide();
$('#popup_content').html('');


