%ul.list-unstyled
  - @contractor_list.each do |contractor|
    %li
      = link_to contractor.name, {action: :show, contractor: contractor.key}, remote: true
      %small
        = "ИНН:#{contractor.inn}" unless contractor.inn.blank?
        = "КПП:#{contractor.kpp}" unless contractor.kpp.blank?
        