.page-header


  %h2 Просмотр booking_history

%dl.dl-horizontal
  %dt Booking:
  %dd= @booking_history.booking_id
  %dt Status:
  %dd= @booking_history.status
  %dt Status start date:
  %dd= @booking_history.status_start_date
  %dt Status end date:
  %dd= @booking_history.status_end_date
  %dt Status user:
  %dd= @booking_history.status_user_id
  %dt Is close:
  %dd= @booking_history.is_close

= link_to edit_booking_history_path(@booking_history), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to booking_histories_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться