<h2>Просмотрemployees</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @employee.id %></td>
  </tr>
  <tr>
    <th>Person:</th>
    <td><%= @employee.person_id %></td>
  </tr>
  <tr>
    <th>Stuff unit:</th>
    <td><%= @employee.stuff_unit_id %></td>
  </tr>
  <tr>
    <th>Employment date:</th>
    <td><%= @employee.employment_date %></td>
  </tr>
  <tr>
    <th>Leaving date:</th>
    <td><%= @employee.leaving_date %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @employee.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @employee.end_date %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_employee_path(@employee) %>
    <%= link_to 'Вернуться', employees_path %>
    </th>
  </tr>
</table>

 

