
<% if @position.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @position.errors.count %></h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@position) do |f| %>
  <table>
    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <th><%= f.label :descr, "Описание" %></th>
    </tr>
    <tr>
      <td><%= f.text_field :name %></td>
      <td rowspan="2"><%= f.text_area :descr %></td>
    </tr>
    <tr>
      <td><%= f.label :is_close, "Удален" %> <%= f.check_box :is_close %> </td>
    </tr>
    <tr>
      <th><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', positions_path %></th>
    </tr>
  </table>
<% end %>
