<h2>Справочник должностей</h2>
<%#= will_paginate @positions, class: "apple_pagination" %>
<table id="positions">
  <thead>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @positions.each do |position| %>
  <tr>
    <td <%= 'class=deleted title=Удален' if position.is_close %>><%= position.name %></td>
    <td><%= position.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_position_path(position) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), position, method: :delete, data: { confirm: 'Точно?' } unless position.is_close %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<table>
<tr><th><%= button_to 'Новая должность', new_position_path, method: 'get' %></th></tr>
</table>

<%#= will_paginate @positions, class: "apple_pagination" %>