<%= form_for(@testguid) do |f| %>
  <% if @testguid.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%=@testguid.errors.count%></h2>

      <ul>
      <% @testguid.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :str %><br />
    <%= f.text_field :str %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
