= form_for @transportkind, html: { role: "form" } do |f| 
  - if @transportkind.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@transportkind.errors.count}"

      %ul
        - @transportkind.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Тип ТС
    = f.collection_select :transporttype_id, Transporttype.visible, :id, :name, |
        { prompt: @transportkind.transporttype ? nil : "Выберите тип ТС", |
         selected: @transportkind.transporttype ? @transportkind.transporttype.id : nil}, class: "form-control" 
  .form-group.input-group
    %span.input-group-addon
      %i Наименование
    = f.text_field :name, class: "form-control" 
  .form-group.input-group
    %span.input-group-addon
      %i Описание
    = f.text_area :descr, class: "form-control" 
  .form-group.input-group
    = f.label :is_close , 'Удалено'
    = f.check_box :is_close

  = f.submit "Сохранить", class: 'btn btn-primary'
  = link_to 'Вернуться', transportkinds_path , class: 'btn btn-default'

