.page-header
  %h2 Виды ТС

.col-md-8.col-md-offset-2

  %table#transportkinds
    %thead
      %tr
        %th Категория ТС
        %th Тип ТС
        %th Вид ТС
        %th Модели ТС
        %th Описание
        %th 
        %th 
    %tbody
      - @transportkinds.each do |transportkind|
        %tr
          %td= transportkind.transporttype.transportcategory.name if transportkind.transporttype and transportkind.transporttype.transportcategory
          %td= transportkind.transporttype.name if transportkind.transporttype
          %td
            %strong= transportkind.name
            - if transportkind.is_close
              %span.red удалено
          %td= transportkind.transportmodels.pluck(:name).join('; ')
          %td= transportkind.descr
          %td.edit= link_to image_tag("edit.png"), edit_transportkind_path(transportkind) 
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), transportkind, method: :delete, data: { confirm: 'Точно?' } unless transportkind.is_close

  = link_to 'Новый вид ТС', new_transportkind_path, class: 'btn btn-primary'
