<h1>Регистрация</h1>

<div style="margin: 0 auto; text-align: center; width: 450px;">  <%= devise_error_messages! %> </div>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>


  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label 'Пароль' %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label 'Подтвердите пароль' %><br />
  <%= f.password_field :password_confirmation %></div>

<div>
    <%= f.label 'Фамилия' %><br />
    <%= f.text_field :last_name , autofocus: true %>
  </div>
  <div>
    <%= f.label 'Имя' %><br />
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label 'Отчество' %><br />
    <%= f.text_field :surname %>
  </div>

  <div>
    <%= f.label 'Дополнительно' %><br />
    <%= f.text_area :advanced , rows: 5 , cols: 32%>
  </div>

  <div><%= f.submit "Зарегистрироваться" %></div>
<% end %>

<%= render "devise/shared/links" %>
