= render 'modal'

.page-header
  %h2 
    Отпуски сотрудников
    %a.btn.btn-sm.btn-success.pull-left#to_modal
      %span.glyphicon.glyphicon-plus Плановый отпуск

= select_date_from_to

#vacations_index.col-md-10.col-md-offset-1
  .panel.panel-default
    .panel-heading
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#all"} Все
        %li
          %a{"data-toggle" => "tab", :href => "#leave"} Уходящие в отпуск
        %li
          %a{"data-toggle" => "tab", :href => "#return"} Возвращающиеся из отпуска
        %li
          %a{"data-toggle" => "tab", :href => "#not_return"} Не вернувшиеся из отпуска
    .panel-body
      .tab-content
        #all.tab-pane.active= render 'vacations/vacations'
        #leave.tab-pane= render 'vacations/vacations_leave'
        #return.tab-pane= render 'vacations/vacations_return'
        #not_return.tab-pane= render 'vacations/vacations_not_return'


:coffeescript
  $("#to_modal").click ->
    $(".modal-body").html "<img src='/assets/ajax-loader.gif'> Загрузка водителей"
    $.get "/vacations/get_form",
      from: '#{@from}'
      to: '#{@to}'

    $("#modal").modal "show"
  return
