
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @document.errors.count%></h2>

      <ul>
      <%  @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @person.errors.count%></h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for(@person, remote: true, format: :js) do |f| %>
<table>
  <tr> <th><%= f.label :last_name, "Фамилия" %></th>
       <th><%= f.label :name,  "Имя"%></th>
       <th><%= f.label :surname, "Отчество"%></th>
  </tr>
  <tr>
       <td><%= f.text_field :last_name %> </td>
       <td><%= f.text_field :name %> </td>
       <td><%= f.text_field :surname %> </td>
  </tr>
  <tr>
       <th> <%= f.label :birthdate, "Дата рождения"%></th>
       <th><%= f.label :mail, "E-mail"%></th>
       <th> <%= f.label :gender, "Пол"%></th>
  </tr>
  <tr>
       <td><%= f.text_field :birthdate%> </td>
       <td><%= f.text_field :mail %> </td>
       <td><%= f.check_box :gender, onchange: " if ($('#person_gender').prop('checked')) {$('#gender').html('М')} else {$('#gender').html('Ж')}" %>
         &nbsp;&nbsp;<b id="gender"><%= @person.gender ? "М" : "Ж"  %> </b>
       </td>
  </tr>
</table>
  <%= fields_for @document do |doc| %>
  <table>
    <tr>
      <th><%= doc.label :series, "Серия" %></th> 
      <th><%= doc.label :number, "Номер" %></th>
      <th><%= doc.label :issued_by, "Когда выдан" %></th> 
    </tr>
    <tr>
      <td><%= doc.text_field :series %></td>
      <td><%= doc.text_field :number %></td>
      <td><%= doc.text_field :issued_date %></td>
    </tr>
    <tr>
      <th colspan="3"><%= doc.label :issued_by, "Кем выдан" %></th>
    </tr>
    <tr>
      <td colspan="3"><%= doc.text_field :issued_by %></td>
    </tr>
  </table>
  <% end %>
    
<%= f.submit "Сохранить физ. лицо", class: "btn btn-primary" %> 
<% end %>

<script>
      $('#person_birthdate').datetimepicker({ format:'d/m/Y',yearStart:1950, yearEnd:2008});
      $('#document_issued_date').datetimepicker({ format:'d/m/Y'});
</script>

