<h2>Физические лица (<%= @people.size%>)</h2>

<%#= will_paginate @people, class: "apple_pagination" %>
<%= letter_pagination @letters %>
<table>
  <tr> <th><%#= button_to 'Добавить физ. лицо', new_person_path, method: 'get' %></th> </tr>
</table>
<table id="people">
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Е-mail</th>
      <th>Дата рождения</th>
      <th>Пол</th>
      <th>Контрагент</th>
      <th>Сотрудник</th>
      <th>Контакты</th>
      <th>Документы</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.fullname %><span class="red"><%= "удалено" if person.is_close  %></span></td>
        <td><%= person.mail %></td>
        <td><%= person.birthdate %></td>
        <td><%= person.gender ? "М" : "Ж" %></td>
        <td>
            <%= person.contractors.map(&:name).join(', ') %> <br/>
            <%= person.people_contractors.map(&:position).join(', ') %>
        </td>
        <td><%= person.employees_cdp %></td>
        <td>
            <%= link_to image_tag("contacts.png"), {action: :contacts, id: person}, remote: true, title: 'Редактирование контактов' %>
        </td>
        <td class="docs <%= 'red_cell' unless person.documents.any? %> " title="Документы">  
            <%= link_to image_tag("docs.png"), {action: "show_part", id: person, part: person.documents.any? ? "docs" : "select_new_document"}, remote: true if person.edit_allowed? %> 
            <%= link_to image_tag("docs.png"), {action: "show_part", id: person, part: "docs" }, remote: true if !person.edit_allowed? and person.documents.any? if person.edit_allowed?%> 
        </td>
        <td class="edit" title="Редактировать"><%= link_to image_tag("edit.png"), edit_person_path(person) if person.edit_allowed? %></td>
        <td class="del"></td>
  
    <% end %>
  </tbody>
</table>
<table>
  <tr> <th><%#= button_to 'Добавить физ. лицо', new_person_path, method: 'get' if @people.size > 10 %></th> </tr>
</table>

<%= letter_pagination @letters %>
<%#= will_paginate @people, class: "apple_pagination" %>

