= form_for @transportcolor, html: { role: "form" } do |f| 
  - if @transportcolor.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@transportcolor.errors.count}"

      %ul
        - @transportcolor.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Цвет
    = f.text_field :name, class: "form-control" 
  .form-group.input-group
    = f.label :is_close , 'Удалено'
    = f.check_box :is_close

  = f.submit "Сохранить", class: 'btn btn-primary'
  = link_to 'Вернуться к цветам ТС', transportcolors_path, class: 'btn btn-default'

