.page-header

  %h2 Просмотр типа задачи

%dl.dl-horizontal
  %dt Тип задачи:
  %dd= @task_type.task_type
  %dt Описание:
  %dd= @task_type.descr

= link_to task_types_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
  Вернуться
= link_to edit_task_type_path(@task_type), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
  Редактировать