= form_for @transportloading, html: { role: "form" } do |f| 
  - if @transportloading.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@transportloading.errors.count}"

      %ul
        - @transportloading.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Способ загрузки
    = f.text_field :loading, class: "form-control" 
  .form-group.input-group
    %span.input-group-addon
      %i Описание
    = f.text_area :descr, class: "form-control" 
  .form-group.input-group
    = f.label :is_close , 'Удалено'
    = f.check_box :is_close

  = f.submit "Сохранить", class: 'btn btn-primary'
  = link_to 'Вернуться к способам загрузки', transportloadings_path , class: 'btn btn-default'

