= save_reports_xls((['Координатор'] + @azs_types + ['Кол-во литров', 'Средн. стоим. литра', 'Обработанных согласований']), @coordinators_by_azs_litres)
.table-responsive
  %table.table-striped.table-bordered.table-hover#coordinators_by_azs_litres
    %thead
      %tr
        %th Координатор
        - @azs_types.each do |azs|
          %th= azs 
        %th Кол-во литров  
        %th Средн. стоим. литра
        %th Обработанных согласований
    %tbody
      - @coordinators_by_azs_litres.each do |cbal|
        %tr
          - cbal.each do |item|
            %td= item