= save_reports_xls((['Координатор','Кол-во согласований']), @coordinators)

.table-responsive
  %table.table-striped.table-bordered.table-hover#coordinators
    %thead
      %tr
        %th Координатор
        %th Кол-во согласований

    %tbody
      - @coordinators.each do |coord|
        %tr
          %td= coord[0]
          %td= coord[1]
