= save_reports_xls((['Тягач', 'Водитель'] + @azs_types + ['Кол-во литров', 'Литров несоглас.', 'Средн. стоим. литра']), @trucks_by_azs_litres)
.table-responsive
  %table.table-striped.table-bordered.table-hover#trucks_by_azs_litres
    %thead
      %tr
        %th Тягач
        %th Водитель
        - @azs_types.each do |azs|
          %th= azs 
        %th Литров  
        %th Литров несоглас.  
        %th Средн. стоим. литра
    %tbody
      - @trucks_by_azs_litres.each do |tbal|
        %tr
          - tbal.each do |item|
            %td= item