.page-header
  %h2 Мониторинг заправок транспортных средств

= select_date_from_to "refuellings", Time.now, Time.now

.col-md-10.col-md-offset-1
  .panel.panel-default
    .panel-heading
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#coordinators_tab"} Согласования координаторов
        %li
          %a{"data-toggle" => "tab", :href => "#trucks_by_azs_litres_tab"} Литраж по тягачу и типу АЗС
        %li
          %a{"data-toggle" => "tab", :href => "#azs_litres_tab"} Литраж по типам АЗС
        %li
          %a{"data-toggle" => "tab", :href => "#azs_tab"} Литраж по АЗС
        %li
          %a{"data-toggle" => "tab", :href => "#coordinators_by_azs_litres_tab"} Согласованный коорд. литраж по типам АЗС
    .panel-body
      .tab-content
        #coordinators_tab.tab-pane.active= render 'coordinators'
        #trucks_by_azs_litres_tab.tab-pane= render 'trucks_by_azs_litres'
        #azs_litres_tab.tab-pane= render 'azs_litres'
        #azs_tab.tab-pane= render 'azs'
        #coordinators_by_azs_litres_tab.tab-pane= render 'coordinators_by_azs_litres'
  