= form_for @task_action, :html => { :class => "form-horizontal" } do |f|
  -if @task_action.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@task_action.errors.count, "error")} "

      %ul
        - @task_action.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, 'Действие по задаче', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :descr, 'Описание', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :descr, :class => 'form-control'
  .form-group
    = f.label :is_close, 'Удалено', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to task_actions_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться