
- if @duty.errors.any?
  #error_explanation
    %h2 Ошибок: #{@duty.errors.count}
    %ul
      - @duty.errors.full_messages.each do |msg|
        %li= msg 

.well.well-sm
  = form_for @duty, html: {class: "form-inline", role: "form"}, remote: true do |f| 
    .form-group
      = f.collection_select( :EmployeeKey, Duty.people, :EmployeeKey, :FIO,
                { prompt: @duty.EmployeeKey ? nil : "Выберите дежурного",
                selected: @duty.EmployeeKey ? @duty.EmployeeKey : nil}, class: 'form-control'  )
    .form-group
      .checkbox
        = f.label :IsLog, "Логист"
        = f.check_box :IsLog 
      .checkbox
        = f.label :IsMan, "Менеджер"
        = f.check_box :IsMan
    %hr
    .form-group
      = f.label :MomentFrom, "Начало смены" 
      = f.text_field :MomentFrom, class: 'form-control', size: 14 

    .form-group
      = f.label :MomentTo, "Окончание смены" 
      = f.text_field :MomentTo, class: 'form-control', size: 14 
    %hr
    = f.submit "Добавить в список", class: "btn btn-primary"


- unless @group_add.blank? 

  %table
    %thead
      %tr
        %th Фио:
        %th Начало смены:
        %th Окончание смены:
        %th Логист:
        %th Менеджер:
        %th 
    %tbody
      - @group_add.each do |duty| 
        %tr
          %td= duty.fio
          %td= duty.MomentFrom.strftime("Дата: %d.%m.%Y. Время: %k:%M") 
          %td= duty.MomentTo.strftime("Дата: %d.%m.%Y. Время: %k:%M") 
          %td= "Логист" if duty.IsLog 
          %td= "Менеджер" if duty.IsMan 
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), {action: :destroy, id: duty.id}, method: :delete, data: { confirm: 'Точно?' }, remote: true

  = link_to "Назначить дежурных", {action: :add_all}, class: 'btn btn-success'  

  

%script
  - if @duty.MomentFrom and @duty.MomentTo 
    $('#duty_MomentFrom').datetimepicker({timepicker:true, value:'#{@duty.MomentFrom.strftime("%d.%m.%Y %k:%M")}'});
    $('#duty_MomentTo').datetimepicker({timepicker:true, value:'#{@duty.MomentTo.strftime("%d.%m.%Y %k:%M")}'});
  - else
    var today = new Date();
    - today = Time.now + 1.day
    $('#duty_MomentFrom').datetimepicker({timepicker:true, value:today.getDate()+'/'+(today.getMonth()+1)+'/'+today.getFullYear()+' 20:00'});
    $('#duty_MomentTo').datetimepicker({timepicker:true, value:#{today.day} + '/' + #{today.month} + '/' + #{today.year} + ' 20:00'});
  $(":checkbox").checkboxpicker()