.panel.panel-default
  .panel-heading Основной ответственный по тягачу #{@truck['TruckName'] if @truck}
  .panel-body
    - unless @error.blank?
      .alert.alert-danger= @error
    - else
      - if @truck
        = link_to truck_responsibles_new_or_edit_path(truck_id: @truck['TruckId'], main: true), remote: true, :class => 'btn btn-primary btn-xs' do
          %span.glyphicon.glyphicon-plus
          Назначить основного ответственного
        - if @truck_responsibles.find_all { |r| r['ParentTruckResponsibleId'].blank? }.any?
          %table
            %thead
              %tr
                %th Тягач
                %th Ответственный
                %th Момент начала действия
                %th Момент окончания действия
                /%th
                /%th
            %tbody
              - @truck_responsibles.find_all { |r| r['ParentTruckResponsibleId'].blank? }.each do |truck_responsible|
                %tr{:class => "#{'select_green' if truck_responsible['Active']}"}
                  %td= @truck['TruckName']
                  %td= truck_responsible['ResponsiblePersonName']
                  %td= truck_responsible['StartDate'].to_time.strftime("%d.%m.%Y %k:%M") unless truck_responsible['StartDate'].blank?
                  %td= truck_responsible['EndDate'].to_time.strftime("%d.%m.%Y %k:%M") unless truck_responsible['EndDate'].blank?
                  /%td.edit{:title => "Редатировать"}= link_to image_tag("edit.png"), truck_responsibles_new_or_edit_path(truck_id: @truck['TruckId'], responsible_id: truck_responsible['TruckResponsibleId'], main: true), remote: true
                  /%td.del{:title => "Удалить"}
                  /  = link_to truck_responsibles_delete_responsible_path(truck_id: @truck['TruckId'], id: truck_responsible['TruckResponsibleId']), data: { confirm: 'Уверены?' }, remote: true do
                  /    %span.glyphicon.glyphicon-remove.red
