- unless @error.blank?
  .alert.alert-danger= @error
- else
  = form_tag url_for(action: 'create_or_update'), remote: true do |f|
    = hidden_field_tag :truck_id, @truck ? @truck['TruckId'] : @truck_id
    = hidden_field_tag :id, @truck_responsible ? @truck_responsible['TruckResponsibleId'] : nil
    = hidden_field_tag :parent_id, params[:parent_id] || '00000000-0000-0000-0000-000000000000'
    .well.well-sm
      .form-group.input-group
        %span.input-group-addon
          %i Тягач
        = text_field_tag :truck, @truck ? @truck['TruckName'] : @truck_name, disabled: 'disabled', class: "form-control" 

      .form-group.input-group
        %span.input-group-addon
          %i Сотрудник
        = select_tag :person_id, options_for_select( @logists.sort_by { |l| l['FullName'] }.map { |l| [l['FullName'], l['Id']] }, | 
            { selected: @truck_responsible ? @truck_responsible['ResponsiblePersonId'] : nil } ), { class: "form-control" }


      .form-group.input-group
        %span.input-group-addon
          %i Дата начала действия
        = text_field_tag :start_date, @truck_responsible && @truck_responsible['StartDate'] ? @truck_responsible['StartDate'].to_datetime : Time.now, class: "form-control"
        %span.input-group-addon
          %i Дата окончания действия
        = text_field_tag :end_date, @truck_responsible && @truck_responsible['EndDate'] ? @truck_responsible['EndDate'].to_datetime : nil, class: "form-control"

      = submit_tag 'Сохранить', class: 'btn btn-primary disabled'


  :coffeescript
    $('#start_date').datetimepicker timepicker: true, step:30
    $('#end_date').datetimepicker timepicker: true, step:30

    $("#popup_content").click ->
      $(".disabled").removeClass "disabled"


  