%table{:style => "table-layout: fixed; overflow: hidden"}
  %tbody
    - @trucks_without_responsibles.each_slice(4) do |trucks|
      %tr{:class => "#{cycle 'even', ''}"}
        - trucks.each do |truck|
          %td
            = link_to truck_responsibles_new_or_edit_path(truck_id: truck['TruckId'], truck_name: truck['TruckName'], main: true), remote: true, class: "btn btn-default btn-xs", style: "width: 100%" do
              %span.glyphicon.glyphicon-plus
              = truck['TruckName']
  