var filter = $(".dataTables_filter input").val();
notice('#{flash[:notice]}');
$("#list").html("#{j render 'index' }");
$("#show_main_responsibles").html("#{j render 'show_main_responsibles' }");
$("#show_temp_responsibles").html("#{j render 'show_temp_responsibles' }");
$("#show_trucks_no_responsibles").html("#{j render 'trucks_no_responsibles' }");


$('#truck_responsibles').dataTable({"order": [[0, "asc"]], "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "Все"]], |
"columnDefs": [{type: 'date-euro', targets: [3, 4]}], "fnInitComplete": function(oSettings, json) {$(".dataTables_filter input").val(filter); }});
$('#truck_responsibles').DataTable().search(filter).draw();


$('#popup').hide();
$('#popup_content').html('');

