$("#show_main_responsibles").html("#{j render 'show_main_responsibles' }");
$("#show_temp_responsibles").html("#{j render 'show_temp_responsibles' }");

$('#popup').hide();
$('#popup_content').html('');
$("#truck_responsibles .select_green").removeClass('select_green')
$(".#{@truck['TruckId']}").addClass('select_green')
