.page-header

  %h2 Состояния задач

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#task_statuses
    %thead
      %tr
        %th Состояние задачи
        %th Удалено
        %th
        %th
        %th

    %tbody
      - @task_statuses.each do |task_status|
        %tr
          %td= task_status.name
          %td= task_status.is_close
          %td.show1= link_to image_tag("show.png"), task_status
          %td.edit= link_to image_tag("edit.png"), edit_task_status_path(task_status)
          %td.del= link_to image_tag("remove.png"), task_status, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_task_status_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новое состояние задачи
