.page-header


  %h2 Просмотр состояния задачи

%dl.dl-horizontal
  %dt Состояние задачи:
  %dd= @task_status.name
  %dt Удалено:
  %dd= @task_status.is_close

= link_to edit_task_status_path(@task_status), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to task_statuses_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться