<table id="contractor_representatives">
  <thead>
    <tr>
      <th>Контрагент </th>
      <th>Физ. лицо</th>
      <th>Паспорт</th>
      <th>ВУ</th>
      <th>Должность</th>
      <th>Начало взаимодействия</th>
      <th>Окончание взаимодействия</th>
      <th>Контакты</th>
      <th>Документы</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contractor_representatives.each do |contractor_representative| %>
      <tr>
        <td>
          <%= contractor_representative.contractor.name if contractor_representative.contractor%>
        </td>
        <td><%= contractor_representative.person.fullname_g_b if contractor_representative.person%></td>
        <td><%= contractor_representative.person.passport %></td>
        <td><%= contractor_representative.person.drivers_license %></td>
        <td><%= contractor_representative.position.name %></td>
        <td><%= contractor_representative.start_date %></td>
        <td><%= contractor_representative.end_date %></td>
        <td>
            <%= link_to image_tag("contacts.png"), {controller: 'people', action: :contacts, id: contractor_representative.person}, remote: true, title: 'Редактирование контактов'  %>
        </td>
        <td class="docs <%= 'red_cell' unless contractor_representative.person.documents.any? %> " title="Документы">  
            <%= link_to image_tag("docs.png"), {controller: 'people', action: "show_part", id: contractor_representative.person, part: contractor_representative.person.documents.any? ? "people/docs" : "select_new_document"}, remote: true if contractor_representative.person.edit_allowed? %> 
            <%= link_to image_tag("docs.png"), {controller: 'people',action: "show_part", id: contractor_representative.person, part: "people/docs" }, remote: true if !contractor_representative.person.edit_allowed? and contractor_representative.person.documents.any? %> 
        </td>
        <td class="show1" title="Просмотр">
          <%= link_to image_tag("show.png"), contractor_representative, remote: true %>
        </td>
        <td class="edit" title="Редактировать">
          <%= link_to image_tag("edit.png"), edit_contractor_representative_path(contractor_representative) %>
        </td>
        <td class="del" title="Удалить">
          <%= link_to image_tag("remove.png"), contractor_representative, method: :delete, data: { confirm: 'Точно?' } unless contractor_representative.is_close %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
