.col-md-offset-4.col-md-4
  %table
    %tr
      %th Контрагент:
      %td= @contractor_representative.contractor.name
    %tr
      %th Физ. лицо:
      %td= @contractor_representative.person.fullname_g_b
    %tr
      %th Должность:</th>
      %td= @contractor_representative.position.name
    %tr
      %th Начало взаимодействия:
      %td= @contractor_representative.start_date
    %tr
      %th Окончание взаимодействия:
      %td= @contractor_representative.end_date
    %tr
      %th Удален:
      %td= 'Удален' if  @contractor_representative.is_close
    %tr
      %th= button_to 'Редактировать', edit_contractor_representative_path(@contractor_representative), method: :get 




