$("#modal").modal("hide");
$("#modal .modal-body").html("#{j render 'form_js'}");
$("#index").html("#{j render 'index'}");
$(document).ready(function() { |
  $('#contractor_representatives').dataTable({ |
    "order": [[0, "asc"]], |
    "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "Все"]], |
    "aoColumnDefs": [{"bSortable": false, "aTargets": [5, 6, 7]}] |
  }); |
});

