= agree_con(@order_from_key, @order_to_key)

.panel.panel-default
  .panel-heading Комментарии
  .panel-body
    = form_tag url_for(action: 'create_comment'), remote: true do 
      = hidden_field_tag :truck, @truck
      = hidden_field_tag :OrderFromKey, @order_from_key 
      = hidden_field_tag :OrderToKey, @order_to_key
      .row
        .col-md-12
          .form-group.input-group
            %span.input-group-addon
              %i Ваш комментарий:
            = text_area_tag :comment, '', class: "form-control" 
          = submit_tag "Добавить комментарий", class: "btn btn-primary"
          = link_to image_tag('refresh.png'),  {action: 'new_comment', order_from_key: @order_from_key, order_to_key: @order_to_key, truck: @truck} , remote: true, title: "Обновить", class: "pull-right"
      %hr
      - if @comments.any?
        .row
          .col-md-12
            %table
              %thead
                %tr
                  %th Дата:
                  %th Пользователь:
                  %th Комментарий:
              %tbody
                - @comments.each do |comment|
                  %tr
                    %td= comment.created_at + 3.hour
                    %td= User.find(comment.user_id).fullname
                    %td= comment.comment
