- unless @col_names.blank?
  %tr
    - @col_names.each_with_index do |col_name, ind|
      - unless col_name.index('#')
        - if @sort_ind == ind
          %th.sorted_th{:class => "table_th_#{ind}"}
            = col_name
        - else
          %th{:class => "table_th_#{ind}"}
            = col_name
    %th
    - if user_ability_con 
      %th

  %tr
    - @col_names.each_with_index do |cname, ind|
      - unless cname.index('#')
        %th.table_th_sort 
          = link_to "/#{controller.controller_name}/save_param?sort_ind=#{ind}&sort_dir=up", remote: true do
            - if @sort_ind.to_s == ind.to_s && @sort_dir == 'up'
              %span.glyphicon.glyphicon-sort-by-attributes.selected_sort
            - else
              %span.glyphicon.glyphicon-sort-by-attributes

          = link_to "/#{controller.controller_name}/save_param?sort_ind=#{ind}&sort_dir=down", remote: true do
            - if @sort_ind.to_s == ind.to_s && @sort_dir == 'down'
              %span.glyphicon.glyphicon-sort-by-attributes-alt.selected_sort
            - else
              %span.glyphicon.glyphicon-sort-by-attributes-alt
    %th
    - if user_ability_con
      %th