- unless @connections.blank?
  - @connections.each_with_index do |con, ind|
    %tr{:class => "#{cycle('','even')}", :id => "tr_#{ind}"}
      %td{:title => "#{@col_names[2]}"}=  con.truck_num
      %td{:title => "#{@col_names[3]}"}=  con.logist
      %td{:title => "#{@col_names[4]}"}=  con.previous_entry
      %td{:title => "#{@col_names[5]}"}=  con.previous_entry_city 
      %td{:title => "#{@col_names[6]}"}=  con.previous_entry_unloading_time
      %td{:title => "#{@col_names[7]}"}=  con.previous_entry_actual_time 
      %td{:title => "#{@col_names[8]}"}=  con.unv_link ? link_to( con.unv, {action: "connections_unv", id: con.unv_link, ts: "ТС: #{con.truck_num}" },remote: true) : con.unv
      %td{:title => "#{@col_names[9]}"}=  con.conn_time
      %td{:title => "#{@col_names[10]}"}=  con.next_entry
      %td{:title => "#{@col_names[11]}"}=  con.next_entry_city
      %td{:title => "#{@col_names[12]}"}=  con.manager
      %td{:title => "#{@col_names[13]}"}=  con.contractor
      %td{:title => "#{@col_names[14]}"}=  con.s_time_1op_next_entry
      %td{:title => "#{@col_names[15]}"}=  con.next_entry_mileage
      %td{:title => "#{@col_names[17]}"}=  con.next_entry_created_at
      %td.table_td_comment{:title => "Комментарий"}
        %div{:style => "position: relative"}
          %span{:style => "font-weight: bold; position: absolute; top: 10px;"}= comments_count_con(con) 
          = link_to_comment_con(con)
          = last_comment_con(con)
      - if user_ability_con 
        %td
          - if user_session[:conn_agreed] == 'true'
            = link_to image_tag("remove.png"), {action: 'quick_disagree', OrderFromKey: con.order_from_key, OrderToKey: con.order_to_key, truck: con.truck_num}, |
                        method: :delete, data: { confirm: 'Точно отменить согласование?' }, remote: true, title: "Отменить согласование" 
          - else              
            = link_to check_box_tag("is_checked_#{ind}", '', con.is_checked ),  |
              save_param_monitoring_connections_path(previous_entry: con.previous_entry, next_entry: con.next_entry), remote: true, title: 'Согласовать'
