.row.well.well-sm
  .col-md-6
    = select_tag :col_name, options_for_select(@col_names.find_all {|c| !c.index('#')}), { prompt: "Выберите столбец", class: 'form-control'}
  .col-md-6
    #select_filter
      %select{ :disabled => "disabled", :class => 'form-control'}

.row.well.well-sm
  = text_field_tag :search , @search , class: 'form-control'

:javascript
  $(document).ready(function() {
  $('#col_name').change(function() {$.ajax({url: "/monitoring_connections/select_filter", data: {col_name : $('#col_name').val()}, dataType: "script" }); });
  });