= render "filter_menu"
#a_paginate
  = render 'paginate'

%table#connections
  %thead#thead
    = render 'connections_thead'
  %tbody#tbody
    = render 'connections_tbody'

:javascript
  var xhr;
  setInterval("if (xhr) xhr.abort(); xhr = $.get('/monitoring_connections/index.js');", 30000);