<h2>История сотрудников</h2>


<%#= will_paginate @employee_histories, class: "apple_pagination" %>

<table id="employee_histories">
  <thead>
  <tr>
    <th>Физ. лицо</th>
    <th>Дата приема на работу</th>
    <th>Дата увольнения</th>
 <!-- 
    <th>Сотрудник</th>
    <th>Start date</th>
    <th>End date</th>  -->
    <th>Контрагент</th>
    <th>Контрагент (на момент увольнения)</th>
    <th>Подразделение</th>
    <th>Подразделение (на момент увольнения)</th>
    <th>Должность</th>
    <th>Должность (на момент увольнения)</th> 
    <th>Штатная единица</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @employee_histories.each do |employee_history| %>
  <tr>
    <td><%= employee_history.person.fullname %></td>
    <td><%= employee_history.employment_date %></td>
    <td><%= employee_history.leaving_date %></td>
<!--   
    <td><%#= employee_history.employee_id %></td>
    <td><%#= employee_history.start_date %></td>
    <td><%#= employee_history.end_date %></td>  -->
    <td><%= employee_history.contractor.name %></td>
    <td><%= employee_history.contractor_name %></td>
    <td><%= employee_history.department.name %></td>
    <td><%= employee_history.department_name %></td>
    <td><%= employee_history.position.name %></td>
    <td><%= employee_history.position_name %></td>
    <td><%= employee_history.staff_unit.cdp %></td>
     <td class="show1">
      <%= link_to image_tag("show.png"), employee_history %> 
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_employee_history_path(employee_history) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), employee_history, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>

<%#= will_paginate @employee_histories, class: "apple_pagination"  %>