<h2>Просмотрemployee_histories</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @employee_history.id %></td>
  </tr>
  <tr>
    <th>Employee:</th>
    <td><%= @employee_history.employee_id %></td>
  </tr>
  <tr>
    <th>Employment date:</th>
    <td><%= @employee_history.employment_date %></td>
  </tr>
  <tr>
    <th>Leaving date:</th>
    <td><%= @employee_history.leaving_date %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @employee_history.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @employee_history.end_date %></td>
  </tr>
  <tr>
    <th>Contractor:</th>
    <td><%= @employee_history.contractor_id %></td>
  </tr>
  <tr>
    <th>Contractor name:</th>
    <td><%= @employee_history.contractor_name %></td>
  </tr>
  <tr>
    <th>Department:</th>
    <td><%= @employee_history.department_id %></td>
  </tr>
  <tr>
    <th>Department name:</th>
    <td><%= @employee_history.department_name %></td>
  </tr>
  <tr>
    <th>Position:</th>
    <td><%= @employee_history.position_id %></td>
  </tr>
  <tr>
    <th>Position name:</th>
    <td><%= @employee_history.position_name %></td>
  </tr>
  <tr>
    <th>Person:</th>
    <td><%= @employee_history.person_id %></td>
  </tr>
  <tr>
    <th>Staff unit:</th>
    <td><%= @employee_history.staff_unit_id %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_employee_history_path(@employee_history) %>
    <%= link_to 'Вернуться', employee_histories_path %>
    </th>
  </tr>
</table>

 

