%p.text-center
  %button.btn.btn-default.btn-sm#popover{"data-container" => "body", "data-content" => "#{render 'set_date'}", "data-placement" => "bottom", "data-toggle" => "popover", :type => "button"}
    Период: #{@from} - #{@to}
  - @agreements.each do |agreement|
    = link_to agreement.name, {action: :index, id: agreement.id}, class: @agreement.id == agreement.id ? 'btn btn-success btn-xs' : 'btn btn-info btn-xs' 