= form_for @agreement_request, :html => { :class => "form-horizontal" } do |f|
  -if @agreement_request.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@agreement_request.errors.count, "error")} "

      %ul
        - @agreement_request.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :agreement_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :agreement_id, :class => 'form-control'
  .form-group
    = f.label :initiator_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :initiator_id, :class => 'form-control'
  .form-group
    = f.label :req_text, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :req_text, :class => 'form-control'
  .form-group
    = f.label :start_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :start_date, :class => 'form-control'
  .form-group
    = f.label :status, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :status, :class => 'form-control'
  .form-group
    = f.label :status_updated_at, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :status_updated_at, :class => 'form-control'
  .form-group
    = f.label :business_object_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :business_object_id, :class => 'form-control'
  .form-group
    = f.label :foreign_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :foreign_id, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to agreement_requests_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться