= form_tag url_for(action: 'index') do 
  .form-group
    = label_tag :from, "Начало:", class: "col-sm-6 control-label"
    .col-sm-6= text_field_tag :from, @from, size: 10, class: 'select_date'

  .form-group
    = label_tag :to, "Окончание:", class: "col-sm-6 control-label"
    .col-sm-6= text_field_tag :to, @to, size: 10, class: 'select_date'

  .form-group
    = submit_tag "Выбрать", class: "btn btn-primary btn-xs col-sm-offset-1"

:coffeescript
  $('.select_date').datetimepicker format:'d.m.Y'