.well.well-sm
  = raw @info.gsub('&lt;', '<',).gsub('&gt;', '>')
- if @azs.any?
  .panel.panel-default
    .panel-heading Согласование заправки
    .panel-body
      = form_tag url_for(action: :set_azs), class: 'well well-sm', id: "set_azs", remote: true do 
        = hidden_field_tag :destination
        = hidden_field_tag :transport_key, @transport_key
        .form-group.input-group
          %span.input-group-addon
            %i Выберите заправку:
          = text_field_tag :dest_azd, nil, class: "form-control" 
 
        .form-group.input-group
          %span.input-group-addon
            %i Ваш комментарий:
          = text_area_tag :comment, nil, class: "form-control" 

        = submit_tag "Ответить", class: "btn btn-primary btn-sm", id: 'set_azs_sub'


= render "agreement_requests"


%script
  $("#set_azs_sub").attr("disabled", false);
  var azs = [
  - @azs.each do |t| 
    { value: "#{t['DestinationKey']}", label: "#{t['DestinationName'].to_s.gsub('&quot;', ' ',)}" },
  ]

  $("#dest_azd").autocomplete({
  source: azs,	
  focus: function(event, ui) {event.preventDefault();	$(this).val(ui.item.label);},
  select: function(event, ui) {event.preventDefault(); $(this).val(ui.item.label); $("#destination").val(ui.item.value);}
  });

  $(document).ready(function() { $('#set_azs').submit(function() {$("#set_azs_sub").attr("disabled", true); });
  });
