
- if @prm_questions.blank?
  .alert{:class => 'alert-danger', "role" => 'alert'}
    Задач нет
- else
  - @prm_questions.each_with_index do |question, ind|
    .well.well-sm{:style => "margin-bottom:5px; padding: 3px;", :id => "#{question['Id'].downcase}"}
      /= question['Parent']
      - @locked = LockedQuestion.locked_q? question['Parent']
      - if @locked and @locked.user_id.downcase != current_user.id.downcase
        .btn.btn-danger.btn-sm 
          .badge{:style => "min-width: 35px;"}= @prm_questions.size - ind
          .label.label-info=  question['Created'].to_datetime if question['Created']
          = highlight question['Subject'], 'НЕРЕКОМЕНДОВАННОЙ'
          .badge Блокировано: #{User.find(@locked.user_id).fullname}. #{@locked.created_at + 3.hours}
      - else
        = link_to url_for(action: :show_prm_question, id: question['Id']), class: "btn btn-default btn-sm", style: "width: 100%; display: block; text-align: left; background-color: #{question['Color'] || 'inherit'}", remote: true do 
          .badge{:style => "min-width: 35px;"}= @prm_questions.size - ind
          .label.label-info=  question['Created'].to_datetime if question['Created']
          = question['Subject']


    

     
