- if @error && current_user.admin
  .alert.alert-danger{"role" => 'alert'}= @error
- else
  - if @question.blank?
    .alert.alert-danger{"role" => 'alert'}
      Задачи нет
  - elsif LockedQuestion.locked_q? @question['Parent'] and LockedQuestion.locked_q?(@question['Parent']).user_id.downcase != current_user.id.downcase
    .alert.alert-danger Задача заблокирована
  - else
    = form_tag url_for(action: :reply_prm), class: 'well well-sm', id: "send_answer", remote: true do 
      %p.well-sm.bg-primary
        #{@question['Created'].to_datetime if @question['Created']}:
        %strong{:style => "color: #{@question['Color']}" }
          = @question['QuestionSubject']
      .alert.alert-info
        = raw(@question['QuestionText'])

      = hidden_field_tag :question_id, @question['Id']
      = hidden_field_tag :s, @question['Secret']

      - if @question['IntShow']
        .form-group.input-group{:class => "#{'has-warning' if @question['IntMandatory']}"}
          %span.input-group-addon
            %i
              = @question['IntName']
              %small
                - if @question['IntMin']
                  от #{@question['IntMin']}
                - if @question['IntMax']
                  до #{@question['IntMax']}
          = number_field_tag :int_value, @question['IntValue'], in: @question['IntMin']..@question['IntMax'], class: "form-control", required: @question['IntMandatory']

      - if @question['TimerShow']
        .input-group-addon 
          %i= @question['TimerBlockName']
        .form-group.input-group{:class => "#{'has-warning' if @question['TimerMandatory']}"}
          %span.input-group-addon
            %i
              = radio_button_tag :timer_active, nil, false
              = @question['TimerName']
          = number_field_tag :timer_value, @question['TimerValue'], class: "form-control", required: @question['TimerMandatory'], disabled: true
          %span.input-group-addon
            %i
              = radio_button_tag :timer_moment_active, nil, false
              = @question['TimerMomentName']
          = text_field_tag :timer_moment, @question['TimerValue'], class: "form-control", disabled: true

      - if @question['DateTimeShow']
        .form-group.input-group{:class => "#{'has-warning' if @question['DateTimeMandatory']}"}
          %span.input-group-addon
            %i= @question['DateTimeName']
          = text_field_tag :date_time_value, @question['TimerMoment'], class: "form-control", required: @question['DateTimeMandatory']

      - if @question['BoolShow']
        .form-group.input-group{:class => "#{'has-warning' if @question['BoolMandatory']}"}
          %span.input-group-addon
            %i= @question['BoolName']
          = label_tag 'bool_value_1',  class: "btn btn-default btn-sm" do
            Да
            = radio_button_tag :bool_value, 1, false, required: @question['BoolMandatory']
          = label_tag 'bool_value_0',  class: "btn btn-default btn-sm" do
            Нет
            = radio_button_tag :bool_value, 0, false, required: @question['BoolMandatory']
          %span.glyphicon.glyphicon-remove.red#clear_bool{:style => "cursor: pointer"}

      - if @question['CommentShow']
        .form-group.input-group{:class => "#{'has-warning' if @question['CommentMandatory']}"}
          %span.input-group-addon
            %i= @question['CommentName']
          = text_area_tag :comment_value, @question['CommentValue'], class: "form-control", required: @question['CommentMandatory']

      - if @question['RadioGroupShow']
        .well.well-sm
          .form-group.input-group{:class => "#{'has-warning' if @question['RadioGroupMandatory']}"}
            .input-group-addon
              %i= @question['RadioGroupName']
              %span.glyphicon.glyphicon-remove.red#clear_radio{:style => "cursor: pointer"}       
          - unless @question['RadioGroupOptionsArray'].blank?
            - @question['RadioGroupOptionsArray'].each do |radio|
              = label_tag :radio_group,  class: "btn btn-default btn-xs", style: "margin-bottom: 3px" do
                = radio
                = radio_button_tag :radio_group, radio, false, required: @question['RadioGroupMandatory']

      - if @question['ListShow']
        .form-group.input-group{:class => "#{'has-warning' if @question['ListMandatory']}"}
          %span.input-group-addon
            %i= @question['ListName']
          - if @question['ListMultiselect']  
            = text_field_tag :list_value, nil, class: "form-control", required: @question['ListMandatory']
          - else
            = select_tag :list_value, options_from_collection_for_select(@question['ListOptionsArray'], :to_s, :to_s, {selected: @question['ListValueArray']}), {include_blank: true, class: "form-control", required: @question['ListMandatory']}

      = submit_tag "Ответить", class: "btn btn-primary btn-sm"


  = render "agreement_requests"


  :coffeescript 
    timer = "#{@question['TimerMandatory']}"

    $('#timer_moment').datetimepicker timepicker: true
    $('#date_time_value').datetimepicker timepicker: true
    $('#clear_radio').click ->
      $('input[name=radio_group]').attr 'checked', false
    $('#clear_bool').click ->
      $('input[name=bool_value]').attr 'checked', false

    $('#popup_close').off('click').click ->
      $('#popup').hide()
      $('#popup_content').html ''
      $.get '/api/unlock_question', id: '#{@question['Parent']}'
      return
      
    $('#timer_active_').click ->
      $('#timer_moment').attr 'disabled', true
      $('#timer_value').attr 'disabled', false
      $('#timer_moment_active_').prop 'checked', false
      if timer
        $('#timer_moment').attr 'required', false
        $('#timer_value').attr 'required', true
      
    $('#timer_moment_active_').click ->
      $('#timer_moment').attr 'disabled', false
      $('#timer_value').attr 'disabled', true
      $('#timer_active_').prop 'checked', false
      if timer
        $('#timer_moment').attr 'required', true
        $('#timer_value').attr 'required', false

    $('#send_answer').submit ->
      $('#popup').hide()
      $('#popup_content').html ''
      $('##{@question['Id']}').hide()
      return

    # AUTOCOMPLETE --------------------------------------

    availableTags = [#{raw "'#{@question['ListOptionsArray'].join("','")}'" unless @question['ListOptionsArray'].blank?}];

    split = (val) ->
      val.split /,\s*/
    extractLast = (term) ->
      split(term).pop()

    # остановить смену фокуса, если выделен один из элементов автозаполнения
    $("#list_value").bind("click", (event) ->
      event.preventDefault()  if event.keyCode is $.ui.keyCode.TAB and $(this).data("autocomplete").menu.active
      return
    ).autocomplete
      search: ""
      minLength: 0
      source: (request, response) ->
        # делегируем поиск элементов автозаполнения обратно плагину, предварительно убрав уже выбранные элементы
        response $.ui.autocomplete.filter(availableTags, extractLast(request.term))
        return

      focus: ->
        $(this).autocomplete ""
        # отменяем вставку значения на получение фокуса
        #false

      change: (event, ui) ->
        if !ui.item
          $("#list_value").val ''
      select: (event, ui) ->
        terms = split(@value)
        # удаляем вводимую часть текста и помещаем вместо нее выбранный элемент
        terms.pop()
        terms.push ui.item.value
        # собираем все элементы в строку, разделяя их запятыми и вставляем
        # строку обратно в текстовое поле
        terms.push ""
        @value = terms.join(", ")
        false

