- if @question.blank?
  .alert.alert-danger{"role" => 'alert'}
    Вопроса нет
- elsif LockedQuestion.locked_q? @question['Parent'] and LockedQuestion.locked_q?(@question['Parent']).user_id.downcase != current_user.id.downcase
  .alert.alert-danger Задача заблокирована
- else
  .alert.alert-info
    /= @transport.inspect  
    /= @agreement_requests.inspect  
    %span.label.label-warning=  Time.at((@question['Created'].to_i - 116444736000000000) / 10000000).to_datetime
    = @question['Subject']
  .well.well-sm
    = raw(@question['Text'])

  .well.well-sm
    - if @question['QuestionTypeId'].to_s == '1'

      = form_tag url_for(action: :send_answer), class: 'form-horizontal', id: "send_answer", remote: true do 
        = hidden_field_tag :question_id, @question['Id']
        = hidden_field_tag :s, @question['Secret']

        .form-group
          .col-sm-3.control-label= label_tag :answer, "Ваш ответ:"
          .col-sm-9= check_box_tag :answer

        .form-group
          .col-sm-3.control-label= label_tag :comment, "Ваш комментарий:"
          .col-sm-9= text_area_tag :comment

        .form-group
          .col-sm-9.col-sm-offset-3= submit_tag "Ответить", class: "btn btn-primary btn-sm"

    - elsif @question['QuestionTypeId'].to_s == '2' 
     
      = form_tag url_for(action: :send_open_answer), class: 'form-horizontal', id: "send_open_answer", remote: true do 
        = hidden_field_tag :question_id, @question['Id']
        = hidden_field_tag :s, @question['Secret']
        .form-group
          .col-sm-3.control-label= label_tag :answer, "Ваш ответ:"
          .col-sm-9= text_area_tag :answer
        .form-group
          .col-sm-9.col-sm-offset-3= submit_tag "Ответить", class: "btn btn-primary btn-sm"

= render "agreement_requests"


:javascript 
  $(":checkbox").checkboxpicker();
  $('#popup_close').off("click").click(function() { $('#popup').hide(); $('#popup_content').html(''); $.get("/api/unlock_question", {id : "#{@question['Parent']}"}); });   
  $('#send_open_answer').submit(function() { $('#popup').hide(); $('#popup_content').html(""); $("##{@question['Id']}").hide();}); 
  $('#send_answer').submit(function() { $('#popup').hide(); $('#popup_content').html(""); $("##{@question['Id']}").hide();}); 
