- if @content['Result'] == 'Bad'
  .alert{:class => 'alert-danger', "role" => 'alert'}
    =@content['ErrorMessage']
- elsif @questions.blank?
  .alert{:class => 'alert-danger', "role" => 'alert'}
    Вопросов нет
- else
  - @questions.each_with_index do |question, ind|
    .well.well-sm{:style => "margin-bottom:5px; padding: 3px;", :id => "#{question['Id'].downcase}"}
      /= question['Parent']
      - @locked = LockedQuestion.locked_q? question['Parent']
      - if @locked and @locked.user_id.downcase != current_user.id.downcase
        .btn.btn-danger.btn-sm 
          .badge{:style => "min-width: 35px;"}= @questions.size - ind
          .label.label-info=  Time.at((question['Created'].to_i - 116444736000000000) / 10000000).to_datetime
          = highlight question['Subject'], 'НЕРЕКОМЕНДОВАННОЙ'
          .badge Блокировано: #{User.find(@locked.user_id).fullname}. #{@locked.created_at + 3.hours}
      - else
        - style = 
        - if question['Subject'].scan(/лента/i).any?
          - 'api_lenta'
        - elsif question['Subject'].scan(/\(01/i).any? || question['Subject'].scan(/\(00/i).any?
          - 'api_nizkii'
        - elsif question['Subject'].scan(/Контроль/i).any?
          - 'api_kontrol'
        - elsif question['Subject'].scan(/рекомендованн/i).any?
          - 'api_rekomendovan'
        = link_to url_for(action: :show_question, id: question['Id']), class: "btn btn-default btn-sm #{style}", remote: true do 
          .badge{:style => "min-width: 35px;"}= @questions.size - ind
          .label.label-info=  Time.at((question['Created'].to_i - 116444736000000000) / 10000000).to_datetime
          = question['Subject']


    

     
