.page-header
  %h2 Ваш ответ на вопрос.

.col-md-offset-4.col-md-4
  - if @resp['Result'] == 'Bad'
    .alert{:class => 'alert-danger', "role" => 'alert'}
      =@resp['ErrorMessage']
  - else
    .alert{:class => 'alert-success', "role" => 'alert'}
      Ответ принят: #{@answer}
    
    
    

     
