.page-header
  %h2 Задачи
.col-md-offset-2.col-md-8.well.well-sm
  = link_to '+' , {action: :show_add}, remote: true, class: 'btn btn-default'


#api_questions.col-md-offset-2.col-md-8
  = render 'questions'

:javascript
  var xhr;
  setInterval("if (xhr) xhr.abort(); xhr = $.get('/api/questions.js');", 5000);    
  $("title").text("#{@questions.size} вопросов.")  

