$("#popup_content").html("#{j render 'prm_question'}");
$("#popup_head span").html("Задача. #{@question['QuestionSubject'] if @question}");
$("#popup").css("top", "150px");
$("#popup").show();
- if @question && @question['Parent']
  $.get("/api/lock_question", {id : "#{@question['Parent']}"});


