= form_for @agreement_access, html: { role: "form" } do |f|
  -if @agreement_access.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@agreement_access.errors.count, "error")} "

      %ul
        - @agreement_access.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Вариант согласования
    = f.collection_select( :agreement_id, Agreement.visible, :id, :name, |
        { prompt: @agreement_access.agreement_id ? nil : "Выберите согласование", |
        selected: @agreement_access.agreement_id ? @agreement_access.agreement_id : nil}, class: 'form-control' )
  .form-group.input-group
    %span.input-group-addon
      %i Штатная единица
    = f.collection_select( :staff_unit_id, StaffUnit.visible, :id, :cdp, |
        { prompt: @agreement_access.staff_unit_id ? nil : "Выберите штатную единицу", |
        selected: @agreement_access.staff_unit_id ? @agreement_access.staff_unit_id : nil}, class: 'form-control'  )
  .form-group.input-group
    %span.input-group-addon
      %i Необходимо
    = f.check_box :necessary

  = f.submit 'Сохранить', class: 'btn btn-primary'
  = link_to agreement_accesses_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
      Вернуться

:coffeescript 
  $(":checkbox").checkboxpicker()