- @get_bookings.each do |bkg|
  %tr
    %td{:title => "#{@col_names[0]}"}= bkg.truck_num 
    %td{:title => "#{@col_names[1]}"}= bkg.logist_name 
    %td{:title => "Наличие пропуска", :class => "#{'p' if boooking_val_yes?(bkg.p)}"}
      - if bkg.can_edit_chars 
        = link_to(yes_no(bkg.p), {action: :characteristic_val, truck_id: bkg.truck_key, char: 'П', info: bkg.truck_num}, remote: true) unless bkg.truck_key.blank?
      - else 
        = yes_no(bkg.p) 
    /%td{:title => "Приоритетное направление: #{bkg.pn}"}
    /  - if bkg.can_edit_chars
    /    = link_to "#{truncate(bkg.pn, length: 6 )}...", {action: :characteristic_val, truck_id: bkg.truck_key, char: 'ПН', info: bkg.truck_num}, remote: true unless bkg.truck_key.blank?
    /  - else 
    /    = truncate(bkg.pn, length: 6)
    %td{:title => "Необходимость дальнего рейса", :class => "#{'dr' if boooking_val_yes?(bkg.dr)}"}
      = yes_no(bkg.dr)
    %td{:title => "Двухъярусный", :class => "#{'d' if boooking_val_yes?(bkg.d)}"}
      - if bkg.can_edit_chars
        = link_to yes_no(bkg.d), {action: :characteristic_val, trailer_id: bkg.trailer_key, char: 'Д', info: bkg.trailer_name}, remote: true unless bkg.trailer_key.blank? 
      - else
        = yes_no(bkg.d)
    %td{:title => "Наличие распорок", :class => "#{'r' if boooking_val_yes?(bkg.r)}"}
      - if bkg.can_edit_chars 
        = link_to yes_no(bkg.r), {action: :characteristic_val, trailer_id: bkg.trailer_key, char: 'Р', info: bkg.trailer_name}, remote: true unless bkg.trailer_key.blank?
      - else
        = yes_no(bkg.r)
    %td{:title => "Проверенный водитель", :class => "#{'pv' if boooking_val_yes?(bkg.pv)}"}
      - if bkg.can_edit_chars
        = link_to yes_no(bkg.pv), {action: :characteristic_val, driver_id: bkg.driver_key, char: 'ПВ', info: bkg.driver_name}, remote: true unless bkg.driver_key.blank?
      - else
        = yes_no(bkg.pv)
    %td{:title => "#{@col_names[7]}"}= bkg.region_release
    %td{:title => "#{@col_names[8]}"}= bkg.city_release 
    %td{:title => "#{@col_names[9]}"}= bkg.entry_num
    %td{:title => "#{@col_names[10]}"}= bkg.contractor_previous_entry
    %td{:title => "#{@col_names[11]}"}= bkg.current_route_entry
    %td{:title => "#{@col_names[12]}"}= bkg.current_status
    %td{:title => "#{@col_names[13]}"}= bkg.current_operation
    %td{:title => "#{bkg.logist_comment}"}= truncate(bkg.logist_comment)
    - if (bkg.current_status == 'Готов' and bkg.next_entry_num.blank?)
      - release_date_class = 'booking_released'
    - if bkg.color_release_date
      - release_date_class = "background-color: #{bkg.color_release_date}; background-image: none;"

    %td{:title => "#{@col_names[15]}", :style => "#{release_date_class}"}
      = bkg.release_date
    %td{:title => "#{@col_names[16]}", :style => "#{release_date_class}"}
      = bkg.release_time
    %td{:title => "#{bkg.coord_last_comment}"}= truncate(bkg.coord_last_comment)
    %td{:title => "#{bkg.part}"}
      - if bkg.can_create_booking
        = link_to '', new_booking_path(truck_key: bkg.truck_key, trailer_key: bkg.trailer_key, driver_key: bkg.driver_key, truck_num: bkg.truck_num), remote: true, style: 'color: green', title: 'Создать бронь', class: "glyphicon glyphicon-plus"
      - if bkg.can_empty_mileage
        = link_to 'П', empty_mileage_bookings_path(truck_key: bkg.truck_key, order_key: bkg.order_key, truck_num: bkg.truck_num, citykey_release: bkg.citykey_release, status: bkg.current_status, time: "#{bkg.release_date} #{bkg.release_time}", loading_date_time: "#{bkg.loading_date} #{bkg.loading_time}"), remote: true,  |
            title: 'Создать пустой пробег', class: "pull-right green_letter"
      - if bkg.can_select_truck
        = link_to '', url_for(action: :select_truck, order_key: bkg.order_key, next_entry_num: bkg.next_entry_num), remote: true, style: 'color: green', title: 'Назначение ресурса', class: "glyphicon glyphicon-road"
      - if bkg.can_edit_booking
        = link_to '', edit_booking_path(id: bkg.find_booking_truck.id), remote: true, style: 'color: blue', title: 'Редактировать бронь', class: "glyphicon glyphicon-edit"
        = link_to '', bkg.find_booking_truck, :data => { confirm: 'Точно?' }, :method => :delete, remote: true, style: 'color: red', title: 'Удалить бронь', class: "glyphicon glyphicon-minus"
    %td{:title => "#{@col_names[18]}", :class => "#{'booking_expensive' if bkg.expensive}"}= bkg.next_entry_num
    %td{:title => "#{@col_names[19]}"}= bkg.manager_name
    %td{:title => "#{@col_names[20]}"}= bkg.contractor_next_entry
    %td{:title => "#{@col_names[21]}"}= bkg.region_loading
    %td{:title => "#{@col_names[22]}"}= bkg.next_route_entry
    %td{:title => "#{@col_names[23]}"}= bkg.loading_date
    %td{:title => "#{@col_names[24]}"}= bkg.loading_time 
    %td{:title => "#{@col_names[25]}"}= bkg.tariff

