.well.well-sm
  .badge Дата высвобождения:
  - @release_dates.each do |rd|
    = link_to rd, "/#{controller_name}/save_param?date=#{rd}&preset=1", class: "btn btn-default btn-xs", title: "Дата высвобождения", remote: true
