- if @error_save
  .alert.alert-danger= @error_save
- if @error
  .alert.alert-danger= @error
- else
  .panel.panel-default
    .panel-heading 
      %strong Тягач: #{@truck_num}. 
      Создание заявки Пустой пробег. 
    .panel-body
      = form_tag url_for(action: :save_empty_mileage), html: { role: "form" } , id: 'empty_mileage', remote: true do 
        = hidden_field_tag :order_key, @order_key
        = hidden_field_tag :truck_key, @truck_key
        = hidden_field_tag :city_release, @city_release
        = hidden_field_tag :loading_date_time, @loading_date_time
        .row
          .col-md-12
            .form-group.input-group
              %span.input-group-addon
                %i Причина
              = select_tag :contractor, options_for_select(@contractors.map { |t| [ t['ShortName'], t['Id'] ] } ), {prompt: 'Выберите причину', class: "form-control required"}
        .row
          .col-md-6
            .form-group.input-group
              %span.input-group-addon
                %i Откуда Город
              = text_field_tag :from_region, @selected_city ? @selected_city.second : nil, class: "form-control" 
            .form-group.input-group
              %span.input-group-addon
                %i Откуда Локация
              #from_location_div
                - if @city_locations
                  = select_tag :from_location, options_for_select(@city_locations.map { |t| [ t.second, t.first ] } ), class: "form-control"
                - else  
                  = text_field_tag :from_location, nil, class: "form-control", disabled: 'disabled' 
            .form-group.input-group
              %span.input-group-addon
                %i Момент выезда
              = text_field_tag :departure_time, @time, class: "form-control" 
          .col-md-6
            .form-group.input-group
              %span.input-group-addon
                %i Куда Город
              = text_field_tag :to_region, nil, class: "form-control" 
            .form-group.input-group
              %span.input-group-addon
                %i Куда Локация
              #to_location_div= text_field_tag :to_location, nil, class: "form-control", disabled: 'disabled' 
            .form-group.input-group
              %span.input-group-addon
                %i Момент прибытия
              = text_field_tag :arrival_time, nil, class: "form-control" 

        = submit_tag "Создать", class: "btn btn-primary btn-sm", id: 'empty_mileage_sub'


%script
  - unless @error
    var regions_from = [
    - @regions_from.each do |r| 
      { value: "#{r.first}", label: "#{r.second}" },
    ]
    var regions_to = [
    - @regions_to.each do |r| 
      { value: "#{r.first}", label: "#{r.second}" },
    ]

:coffeescript
  $("#empty_mileage").submit ->
    if $('#contractor').val() == ''
      alert "Выберите причину"
      return false
    else
      $("#empty_mileage_sub").attr "disabled", true
      return 

  $('#departure_time').datetimepicker timepicker: true
  $('#arrival_time').datetimepicker timepicker: true
 
  $("#from_region").autocomplete
    source: regions_from
    focus: (event, ui) ->
      event.preventDefault()
      $(this).val ui.item.label
      return

    select: (event, ui) ->
      event.preventDefault()
      $(this).val ui.item.label
      $.ajax
        url: "/bookings/get_city_locations"
        data:
          city_key: ui.item.value
        dataType: "script"
      return
 
  $("#to_region").autocomplete
    source: regions_to
    focus: (event, ui) ->
      event.preventDefault()
      $(this).val ui.item.label
      return

    select: (event, ui) ->
      event.preventDefault()
      $(this).val ui.item.label
      $.ajax
        url: "/bookings/get_city_locations"
        data:
          city_key: ui.item.value
          to: true
        dataType: "script"
      return
