.row.well.well-sm.form-inline

  = select_tag :logic_op, options_for_select(@logic_ops), {class: 'form-control'}

  = select_tag :col_name, options_for_select(@col_names), { prompt: "Выберите столбец", class: 'form-control'}

  #select_filter
    %select{ :disabled => "disabled", :class => 'form-control'}

.row.well.well-sm
  = text_field_tag :search , '' , class: 'form-control'

:javascript
  $(document).ready(function() {
  $('#col_name').change(function() {$.ajax({url: "/bookings/select_filter", data: {col_name : $('#col_name').val()}, dataType: "script" }); });
  });
