/- unless @get_bookings.blank?
/$('#date_filters').html('#{j render 'date_filters'}')

$('#tbody').html('#{j render "booking#{@b_menu[:part]}_tbody"}')
$('#get_bookings_count').html('#{@get_bookings_count}')
$('#last_update').html('#{Time.now.strftime("%k:%M:%S")}')

- if params[:action] == 'save_param'
  $('#thead').html('#{j render "booking#{@b_menu[:part]}_thead"}')
  $('#a_paginate').html('#{j render "paginate"}')
  if (xhr) xhr.abort();

/if (xhr) xhr.abort();
/setTimeout("csrf(); xhr = $.get('/bookings/get_bookings.js');", 10000);

- if @popup_close 
  $("#popup").hide();
  $("#popup_content").html("");

$("#waiting_over").hide()

$(".content a").click(function() {$("#waiting_over").show();});