= select_tag "filter", options_for_select(@for_filter), { prompt: "Выберите значение", class: "form-control" } 

:coffeescript

  $(document).ready ->
    $("#filter").change ->
      $("#search").val ""
      $.get "/status_ts/index.js",
        filter: $("#filter").val()
        col_ind : "#{@ind}"
      return
    return

  $('#col_ind').val "#{@ind}"  
  $("#find_from_col input").attr "disabled", false
  $("#search").attr "disabled", false
  $('#find_from_col').attr 'action', "/status_ts/index.js"


  # AUTOCOMPLETE --------------------------------------
 
  availableTags = [#{raw "'#{@for_search.join("','")}'" unless @for_filter.blank?}];

  split = (val) ->
    val.split /,\s*/
  extractLast = (term) ->
    split(term).pop()

  # остановить смену фокуса, если выделен один из элементов автозаполнения
  $("#search").bind("keydown", (event) ->
    event.preventDefault()  if event.keyCode is $.ui.keyCode.TAB and $(this).data("autocomplete").menu.active
    return
  ).autocomplete
    minLength: 0
    source: (request, response) ->
      # делегируем поиск элементов автозаполнения обратно плагину, предварительно убрав уже выбранные элементы
      response $.ui.autocomplete.filter(availableTags, extractLast(request.term))
      return

    focus: ->
      # отменяем вставку значения на получение фокуса
      false

    select: (event, ui) ->
      terms = split(@value)
      # удаляем вводимую часть текста и помещаем вместо нее выбранный элемент
      terms.pop()
      terms.push ui.item.value
      # собираем все элементы в строку, разделяя их запятыми и вставляем
      # строку обратно в текстовое поле
      terms.push ""
      @value = terms.join(", ")
      false

    close: (event, ui) ->
      $.ajax
        url: "/status_ts/index.js"
        data:
          search: $("#search").val()
          col_ind: #{@ind}
        dataType: "script"
      return


