= select_tag :per_page, options_for_select(['20','50','100','200', "#{@all_st_ts}"], (@per_page.to_s || '20')), style: "position: absolute; top: 44px;"
= ajax_will_paginate @status_ts, class: "apple_pagination"

%table
  %thead= render "th"
  %tbody
    - @status_ts.each do |status|
      %tr{:class => "#{cycle("","even")}"}
        %td{:title => "#{@col_names[0]}"}= status.truck_num
        %td{:title => "#{@col_names[1]}"}= status.trailer_num
        %td{:title => "#{@col_names[2]}"}= status.driver_name
        %td{:title => "#{@col_names[3]}"}= status.logist
        %td{:title => "#{@col_names[4]}", :class => "prev_entry"}= status.prev_entry
        %td{:title => "#{@col_names[5]}", :class => "current_entry"}= status.current_contractor
        %td{:title => "#{@col_names[6]}", :class => "current_entry"}= status.current_entry_from
        %td{:title => "#{@col_names[7]}", :class => "current_entry"}= status.current_entry_to
        %td{:title => "#{@col_names[8]}", :class => "current_entry"}= status.release_date_current_entry
        %td{:title => "#{@col_names[9]}", :class => "next_entry"}= status.next_entry
        %td{:title => "#{@col_names[10]}", :class => "unav_#{status.unavailable_color}"}
          = link_to status.unavailable[:num], {action: "repair_request", id: status.unavailable[:link], ts: "Тягач:#{status.truck_num}, Прицеп:#{status.trailer_num}", chain: 1}, remote: true unless status.unavailable.blank?

        %td{:title => "#{@col_names[11]}"}
          - status.repair_order.each do |rep|
            %div
              = link_to action: :repair_request, id: rep[:link], ts: "Тягач:#{status.truck_num}, Прицеп:#{status.trailer_num}", remote: true do
                = rep[:num]
                = image_tag(rep[:img])

            
= ajax_will_paginate @status_ts, class: "apple_pagination"

:coffeescript
  $('#per_page').change ->
    $.get '/status_ts/index.js', per_page: $('#per_page').val()
    return