.page-header
  %h2 Пользователи (#{@users_all.size})

.col-md-10.col-md-offset-1
  .well.well-sm
    = link_to new_user_path, class: "btn btn-primary btn-xs" do
      %span.glyphicon.glyphicon-plus
    = link_to 'Роли', roles_path, class: "btn btn-default btn-xs"

  = letter_pagination @letters 

  %table#users
    %thead
      %tr
        %th Фио
        %th Email
        %th Роли
        %th Функциональные группы
        %th
        %th 
        %th 
    %tboby
      - @users.each do |user| 
        %tr
          %td{:class => "#{'red_cell' unless user.ldap_valid?}"}
            = user.fullname 
            - if user.person_id
              %b (Физ.&nbsp;лицо)
            - if user.is_close
              %span.red удален
            - unless user.ldap_valid?
              %strong Нет в LDAP
          %td= user.email 
          %td= user.roles.map(&:name).join(', ') 
          %td= user.all_f_groups.map(&:name).join(', ')
          %td.show1= link_to image_tag("show.png"), user, remote: true
          %td.edit= link_to image_tag("edit.png"), edit_user_path(user)
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), user, method: :delete, data: { confirm: 'Точно?' } unless user.is_close




