<h1>TEMP</h1>

<%#= show_table(@table_data) %>


Каким будет тип следующего объекта:  (1..2)
Что выведет следующий код? 
a=1073741
b=1073741

puts "int" іf a.оbjесt_id==b.оbject_іd

а=1.0
b=1.0

puts "floаt" if a.оbject_іd==b.objеct_id

a=" "
b=" "

puts "str" if a.оbject_іd==b.оbject_іd

Какой из вариантов будет показан на экране в результате выполнения следующего кода:  "hello ".send :puts, "world"

Что выведется на экран  в результате выполнения следующего кода: 

    <h1>
        Тест "Ruby 1.8" -

                    <span class="failed">не пройден</span>
        
        &nbsp; <a href="/TestRunAction.startTest?test=ruby_basics">пройти еще раз</a>            </h1>
    <div class="brief">
        <p>Правильных ответов: 11 / 20 (55 %) <span class="requiredCorrectAnswers">требуется: 15</span></p>

        
         <p>Дата прохождения теста: 11.12.2014 09:44</p>     </div>

    
                    <div id="question-iObu7IfwJxJu" class="question-result">
    <div class="question  correct ">

                <div class="question-text">Каким будет тип следующего объекта: 
<pre class="chili"><code class="ruby">(<span class="ruby__constants">1</span>..<span class="ruby__constants">2</span>)&nbsp;<br></code></pre></div>        
        
        <ul class="answers">
                        <li>
                                <input name="iObu7IfwJxJu-answers" disabled="disabled" type="radio">
                                <p class="">Array</p>
                <p style="position:absolute; right:11px;">129 / 943</p>
            </li>
                        <li>
                                <input name="iObu7IfwJxJu-answers" disabled="disabled" type="radio">
                                <p class="">List</p>
                <p style="position:absolute; right:11px;">35 / 943</p>
            </li>
                        <li>
                                <input name="iObu7IfwJxJu-answers" disabled="disabled" type="radio">
                                <p class="">Slice</p>
                <p style="position:absolute; right:11px;">9 / 943</p>
            </li>
                        <li>
                                <input name="iObu7IfwJxJu-answers" disabled="disabled" checked="checked" type="radio">
                                <p class=" correct ">Range</p>
                <p style="position:absolute; right:11px;">756 / 943</p>
            </li>
                        <li class="last">
                                <input name="iObu7IfwJxJu-answers" disabled="disabled" type="radio">
                                <p class="">Span</p>
                <p style="position:absolute; right:11px;">11 / 943</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/admin">admin</a></span><span id="question-tools-iObu7IfwJxJu"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/iObu7IfwJxJu"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-iObu7IfwJxJu');
                container.append(new QuestionComments(document.getElementById('comments-question/iObu7IfwJxJu'), 'question/iObu7IfwJxJu', 0, window.location.hash == '#question-iObu7IfwJxJu'));
            });
        </script>
    </div>
</div>

                    <div id="question-mkFKO6AgKujq" class="question-result">
    <div class="question  correct ">

                <div class="question-text">Введите имя класса, который является базовым для всех классов в Ruby</div>        
        
        <div class="text-answer">
            <p>Ваш ответ: &nbsp; <input value="Object" readonly="readonly" type="text"></p>
            <p>Правильные ответы: Object,BasicObject</p>
        </div>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/admin">admin</a></span><span id="question-tools-mkFKO6AgKujq"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 3)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/mkFKO6AgKujq"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-mkFKO6AgKujq');
                container.append(new QuestionComments(document.getElementById('comments-question/mkFKO6AgKujq'), 'question/mkFKO6AgKujq', 3, window.location.hash == '#question-mkFKO6AgKujq'));
            });
        </script>
    </div>
</div>

                    <div id="question-FTDXOiRO2qI7" class="question-result">
    <div class="question  correct ">

                <div class="question-text">Можно ли перегрузить оператор доступа к элементу массива (например - array[1])?</div>        
        
        <ul class="answers">
                        <li>
                                <input name="FTDXOiRO2qI7-answers" disabled="disabled" checked="checked" type="radio">
                                <p class=" correct ">Да</p>
                <p style="position:absolute; right:11px;">767 / 947</p>
            </li>
                        <li class="last">
                                <input name="FTDXOiRO2qI7-answers" disabled="disabled" type="radio">
                                <p class="">Нет</p>
                <p style="position:absolute; right:11px;">180 / 947</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/admin">admin</a></span><span id="question-tools-FTDXOiRO2qI7"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/FTDXOiRO2qI7"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-FTDXOiRO2qI7');
                container.append(new QuestionComments(document.getElementById('comments-question/FTDXOiRO2qI7'), 'question/FTDXOiRO2qI7', 0, window.location.hash == '#question-FTDXOiRO2qI7'));
            });
        </script>
    </div>
</div>

                    <div id="question-AwlDS9gKeMa0" class="question-result">
    <div class="question  incorrect ">

                <div class="question-text">Что выведет следующий код?
<pre><code>
a=1073741
b=1073741

puts "int" if a.object_id==b.object_id

a=1.0
b=1.0

puts "float" if a.object_id==b.object_id

a=" "
b=" "

puts "str" if a.object_id==b.object_id
</code></pre></div>        
        
        <ul class="answers">
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">int
float
str</p>
                <p style="position:absolute; right:11px;">128 / 805</p>
            </li>
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class="">ничего</p>
                <p style="position:absolute; right:11px;">300 / 805</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class=" correct ">int</p>
                <p style="position:absolute; right:11px;">265 / 805</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">float
str</p>
                <p style="position:absolute; right:11px;">36 / 805</p>
            </li>
                        <li class="last">
                                <input disabled="disabled" type="checkbox">
                                <p class="">int
float</p>
                <p style="position:absolute; right:11px;">83 / 805</p>
            </li>
                    </ul>

        
        <p class="explanation">Пояснение: При инициализации переменной создается объект произвольного класса который имеет уникальный идентификатор. А целочисленные переменные Fixnum ( т.е от −(2**30) до 2**30 −1 ) хранятся в виде  непосредственных значений в памяти что увеливает скорость работы.
Если число будет больше или равно 2**30 (т.е Bignum) то при инициализации будет создан новый объект.</p>

        <div class="footer">
            <span class="author">Автор: <a href="/user/yaku_toi">yaku_toi</a></span><span id="question-tools-AwlDS9gKeMa0"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/AwlDS9gKeMa0"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-AwlDS9gKeMa0');
                container.append(new QuestionComments(document.getElementById('comments-question/AwlDS9gKeMa0'), 'question/AwlDS9gKeMa0', 0, window.location.hash == '#question-AwlDS9gKeMa0'));
            });
        </script>
    </div>
</div>

                    <div id="question-ofUPtHw5XQcO" class="question-result">
    <div class="question  correct ">

                <div class="question-text">Как оформляются многострочные комментарии?</div>        
        
        <ul class="answers">
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">=begin<br>
=end</p>
                <p style="position:absolute; right:11px;">531 / 681</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">###<br>
###</p>
                <p style="position:absolute; right:11px;">103 / 681</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">/**<br>
**/</p>
                <p style="position:absolute; right:11px;">42 / 681</p>
            </li>
                        <li class="last">
                                <input disabled="disabled" type="checkbox">
                                <p class="">/*<br>
*/</p>
                <p style="position:absolute; right:11px;">95 / 681</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/coalesce">coalesce</a></span><span id="question-tools-ofUPtHw5XQcO"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/ofUPtHw5XQcO"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-ofUPtHw5XQcO');
                container.append(new QuestionComments(document.getElementById('comments-question/ofUPtHw5XQcO'), 'question/ofUPtHw5XQcO', 0, window.location.hash == '#question-ofUPtHw5XQcO'));
            });
        </script>
    </div>
</div>

                    <div id="question-4Hi8Il9QMjeb" class="question-result">
    <div class="question  incorrect ">

                <div class="question-text">Что необходимо изменить в следующем коде для корректного вывода значения переменной bank.name:
<pre class="chili"><code class="ruby"><span class="ruby__keyword">class</span>&nbsp;Bank&nbsp;<br>&nbsp;&nbsp;<span class="ruby__keyword">def</span>&nbsp;initialize()&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="ruby__variable">@name</span>&nbsp;=&nbsp;<span class="ruby__string">"Global&nbsp;Bank"</span>&nbsp;<br>&nbsp;&nbsp;<span class="ruby__keyword">end</span>&nbsp;<br><span class="ruby__keyword">end</span>&nbsp;<br>&nbsp;<br>bank&nbsp;=&nbsp;Bank.<span class="ruby__keyword">new</span>()&nbsp;<br>puts&nbsp;bank.name&nbsp;<br></code></pre></div>        
        
        <ul class="answers">
                        <li>
                                <input name="4Hi8Il9QMjeb-answers" disabled="disabled" checked="checked" type="radio">
                                <p class="">Программа будет работать и без изменений</p>
                <p style="position:absolute; right:11px;">164 / 922</p>
            </li>
                        <li>
                                <input name="4Hi8Il9QMjeb-answers" disabled="disabled" type="radio">
                                <p class="">Для доступа к полю необходимо написать bank.@name</p>
                <p style="position:absolute; right:11px;">82 / 922</p>
            </li>
                        <li>
                                <input name="4Hi8Il9QMjeb-answers" disabled="disabled" type="radio">
                                <p class="">Необходимо использовать команду generate_getter для создания getter метода</p>
                <p style="position:absolute; right:11px;">43 / 922</p>
            </li>
                        <li class="last">
                                <input name="4Hi8Il9QMjeb-answers" disabled="disabled" type="radio">
                                <p class=" correct ">Необходимо использовать команду attr_reader для создания getter метода</p>
                <p style="position:absolute; right:11px;">628 / 922</p>
            </li>
                    </ul>

        
        <p class="explanation">Пояснение: attr_reader создает getter. Код будет выглядеть так:
</p><pre class="chili"><code class="ruby"><span class="ruby__keyword">class</span>&nbsp;Bank&nbsp;<br>&nbsp;&nbsp;attr_reader&nbsp;<span class="ruby__symbols">:name</span>&nbsp;<br>&nbsp;&nbsp;<span class="ruby__keyword">def</span>&nbsp;initialize()&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;<span class="ruby__variable">@name</span>&nbsp;=&nbsp;<span class="ruby__string">"Global&nbsp;Bank"</span>&nbsp;<br>&nbsp;&nbsp;<span class="ruby__keyword">end</span>&nbsp;<br><span class="ruby__keyword">end</span>&nbsp;<br></code></pre><p></p>

        <div class="footer">
            <span class="author">Автор: <a href="/user/admin">admin</a></span><span id="question-tools-4Hi8Il9QMjeb"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/4Hi8Il9QMjeb"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-4Hi8Il9QMjeb');
                container.append(new QuestionComments(document.getElementById('comments-question/4Hi8Il9QMjeb'), 'question/4Hi8Il9QMjeb', 0, window.location.hash == '#question-4Hi8Il9QMjeb'));
            });
        </script>
    </div>
</div>

                    <div id="question-DXR3wXJ6vJ1H" class="question-result">
    <div class="question  correct ">

                <div class="question-text">Какой из классов стандартной библиотеки Ruby используется для отправки сообщений электронной почты?</div>        
        
        <ul class="answers">
                        <li>
                                <input name="DXR3wXJ6vJ1H-answers" disabled="disabled" type="radio">
                                <p class="">Internet::PMTP</p>
                <p style="position:absolute; right:11px;">13 / 815</p>
            </li>
                        <li>
                                <input name="DXR3wXJ6vJ1H-answers" disabled="disabled" type="radio">
                                <p class="">Net::POPMail</p>
                <p style="position:absolute; right:11px;">105 / 815</p>
            </li>
                        <li>
                                <input name="DXR3wXJ6vJ1H-answers" disabled="disabled" type="radio">
                                <p class="">Internet::SMTP</p>
                <p style="position:absolute; right:11px;">104 / 815</p>
            </li>
                        <li class="last">
                                <input name="DXR3wXJ6vJ1H-answers" disabled="disabled" checked="checked" type="radio">
                                <p class=" correct ">Net::SMTP</p>
                <p style="position:absolute; right:11px;">586 / 815</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/rubynovich">rubynovich</a></span><span id="question-tools-DXR3wXJ6vJ1H"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/DXR3wXJ6vJ1H"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-DXR3wXJ6vJ1H');
                container.append(new QuestionComments(document.getElementById('comments-question/DXR3wXJ6vJ1H'), 'question/DXR3wXJ6vJ1H', 0, window.location.hash == '#question-DXR3wXJ6vJ1H'));
            });
        </script>
    </div>
</div>

                    <div id="question-hTUwFH48SM4y" class="question-result">
    <div class="question  incorrect ">

                <div class="question-text">Какие преимущества имеет итератор перед циклами?</div>        
        
        <ul class="answers">
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class=" correct ">Модификация счетчика итератора не приводит к изменению количества итераций.</p>
                <p style="position:absolute; right:11px;">446 / 811</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">Итератор может обрабатывать последовательности, а цикл – нет.</p>
                <p style="position:absolute; right:11px;">235 / 811</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class=" correct ">Тело итератора обрабатывается строго определенное количество раз (количество элементов массива).</p>
                <p style="position:absolute; right:11px;">557 / 811</p>
            </li>
                        <li class="last">
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class="">Никаких</p>
                <p style="position:absolute; right:11px;">68 / 811</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/rubynovich">rubynovich</a></span><span id="question-tools-hTUwFH48SM4y"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/hTUwFH48SM4y"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-hTUwFH48SM4y');
                container.append(new QuestionComments(document.getElementById('comments-question/hTUwFH48SM4y'), 'question/hTUwFH48SM4y', 0, window.location.hash == '#question-hTUwFH48SM4y'));
            });
        </script>
    </div>
</div>

                    <div id="question-YUggq3d23ZoS" class="question-result">
    <div class="question  incorrect ">

                <div class="question-text">Укажите все команды, которые выводят "Hello World!" (не важно с кавычками или без).</div>        
        
        <ul class="answers">
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class="">put "Hello World!"</p>
                <p style="position:absolute; right:11px;">130 / 930</p>
            </li>
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">print "Hello World!"</p>
                <p style="position:absolute; right:11px;">794 / 930</p>
            </li>
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">puts "Hello World!"</p>
                <p style="position:absolute; right:11px;">889 / 930</p>
            </li>
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">$stdout &lt;&lt; "Hello World!"</p>
                <p style="position:absolute; right:11px;">588 / 930</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class=" correct ">"Hello World!".display</p>
                <p style="position:absolute; right:11px;">447 / 930</p>
            </li>
                        <li class="last">
                                <input disabled="disabled" type="checkbox">
                                <p class="">$stdin &lt;&lt; "Hello World!"</p>
                <p style="position:absolute; right:11px;">38 / 930</p>
            </li>
                    </ul>

        
        <p class="explanation">Пояснение: Команды put не существует, а $stdin используется для стандартного ввода</p>

        <div class="footer">
            <span class="author">Автор: <a href="/user/admin">admin</a></span><span id="question-tools-YUggq3d23ZoS"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/YUggq3d23ZoS"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-YUggq3d23ZoS');
                container.append(new QuestionComments(document.getElementById('comments-question/YUggq3d23ZoS'), 'question/YUggq3d23ZoS', 0, window.location.hash == '#question-YUggq3d23ZoS'));
            });
        </script>
    </div>
</div>

                    <div id="question-6pFsykcCOhh4" class="question-result">
    <div class="question  correct ">

                <div class="question-text">Какими свойствами обладают массивы в Ruby?</div>        
        
        <ul class="answers">
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">Количество элементов массива может произвольно меняться в течении работы программы (динамичность).</p>
                <p style="position:absolute; right:11px;">757 / 803</p>
            </li>
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">Элементы массива могут быть различных типов (разнородность).</p>
                <p style="position:absolute; right:11px;">728 / 803</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">Все элементы массива должны иметь один строго определенный тип данных, задаваемый при его создании (однородность).</p>
                <p style="position:absolute; right:11px;">54 / 803</p>
            </li>
                        <li class="last">
                                <input disabled="disabled" type="checkbox">
                                <p class="">Количество элементов массива задается при создании массива и не может меняться в процессе работы программы (статичность).</p>
                <p style="position:absolute; right:11px;">33 / 803</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/rubynovich">rubynovich</a></span><span id="question-tools-6pFsykcCOhh4"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/6pFsykcCOhh4"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-6pFsykcCOhh4');
                container.append(new QuestionComments(document.getElementById('comments-question/6pFsykcCOhh4'), 'question/6pFsykcCOhh4', 0, window.location.hash == '#question-6pFsykcCOhh4'));
            });
        </script>
    </div>
</div>

                    <div id="question-SQTxH84Fy22X" class="question-result">
    <div class="question  incorrect ">

                <div class="question-text">Что верно о типизации в Ruby?</div>        
        
        <ul class="answers">
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">Это язык со статической типизацией</p>
                <p style="position:absolute; right:11px;">25 / 916</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class=" correct ">Это язык с динамической типизацией</p>
                <p style="position:absolute; right:11px;">778 / 916</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">Объекты в Ruby не имеют типа</p>
                <p style="position:absolute; right:11px;">78 / 916</p>
            </li>
                        <li class="last">
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">Тип переменной в Ruby зависит от объекта, на который она ссылается</p>
                <p style="position:absolute; right:11px;">675 / 916</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/admin">admin</a></span><span id="question-tools-SQTxH84Fy22X"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/SQTxH84Fy22X"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-SQTxH84Fy22X');
                container.append(new QuestionComments(document.getElementById('comments-question/SQTxH84Fy22X'), 'question/SQTxH84Fy22X', 0, window.location.hash == '#question-SQTxH84Fy22X'));
            });
        </script>
    </div>
</div>

                    <div id="question-5QLpM67kNiXf" class="question-result">
    <div class="question  correct ">

                <div class="question-text">Какой из вариантов будет показан на экране в результате выполнения следующего кода:

"hello ".send :puts, "world"</div>        
        
        <ul class="answers">
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">hello world</p>
                <p style="position:absolute; right:11px;">124 / 410</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">hello </p>
                <p style="position:absolute; right:11px;">69 / 410</p>
            </li>
                        <li class="last">
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">world</p>
                <p style="position:absolute; right:11px;">228 / 410</p>
            </li>
                    </ul>

        
        <p class="explanation">Пояснение: Метод puts описан в модуле Kernel, который примешан к классу Object, а от него, в свою очередь наследуется класс String. То есть методы из модуля Kernel можно вызывать абсолютно от объектов любого класса, наследованного от Object (почти все). С тем же успехом можно было бы вызвать 5.push 6 и получить на выходе только "6" (так как puts воспринимает только аргумент и не использует self).</p>

        <div class="footer">
            <span class="author">Автор: <a href="/user/St3N">St3N</a></span><span id="question-tools-5QLpM67kNiXf"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/5QLpM67kNiXf"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-5QLpM67kNiXf');
                container.append(new QuestionComments(document.getElementById('comments-question/5QLpM67kNiXf'), 'question/5QLpM67kNiXf', 0, window.location.hash == '#question-5QLpM67kNiXf'));
            });
        </script>
    </div>
</div>

                    <div id="question-ydzqSWRvqA3i" class="question-result">
    <div class="question  incorrect ">

                <div class="question-text">Что выведется на экран  в результате выполнения следующего кода:
<pre class="chili"><code class="ruby"><span class="ruby__keyword">class</span>&nbsp;Klass&nbsp;<br>&nbsp;&nbsp;private&nbsp;<br>&nbsp;&nbsp;<span class="ruby__keyword">def</span>&nbsp;hello&nbsp;<br>&nbsp;&nbsp;&nbsp;&nbsp;puts&nbsp;<span class="ruby__string">'Hello&nbsp;world!'</span>&nbsp;<br>&nbsp;&nbsp;<span class="ruby__keyword">end</span>&nbsp;<br><span class="ruby__keyword">end</span>&nbsp;<br>&nbsp;<br>klass&nbsp;=&nbsp;Klass.<span class="ruby__keyword">new</span>&nbsp;<br>klass.send&nbsp;<span class="ruby__symbols">:hello</span>&nbsp;<br></code></pre></div>        
        
        <ul class="answers">
                        <li>
                                <input name="ydzqSWRvqA3i-answers" disabled="disabled" type="radio">
                                <p class=" correct ">Hello world!</p>
                <p style="position:absolute; right:11px;">435 / 746</p>
            </li>
                        <li>
                                <input name="ydzqSWRvqA3i-answers" disabled="disabled" checked="checked" type="radio">
                                <p class="">Выдаст ошибку <br>
private method `hello' called for #&lt;Klass:0xb74b7adc&gt; (NoMethodError)
</p>
                <p style="position:absolute; right:11px;">263 / 746</p>
            </li>
                        <li class="last">
                                <input name="ydzqSWRvqA3i-answers" disabled="disabled" type="radio">
                                <p class="">Не будет выведено ничего</p>
                <p style="position:absolute; right:11px;">45 / 746</p>
            </li>
                    </ul>

        
        <p class="explanation">Пояснение: Одним из аспектов метода send, является то, что он позволяет вызывать private методы, которые иначе недоступны с использованием регулярного синтаксиса вызова методов.<br>
Это справедливо для Ruby &lt;= 1.8</p>

        <div class="footer">
            <span class="author">Автор: govnokoder</span><span id="question-tools-ydzqSWRvqA3i"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/ydzqSWRvqA3i"></div>
        <script type="text/javascript">
            jQuery(function() {
                var container = jQuery('#question-tools-ydzqSWRvqA3i');
                container.append(new QuestionComments(document.getElementById('comments-question/ydzqSWRvqA3i'), 'question/ydzqSWRvqA3i', 0, window.location.hash == '#question-ydzqSWRvqA3i'));
            });
        </script>
    </div>
</div>

                    <div id="question-daZulTvbH13B" class="question-result">
    <div class="question  incorrect ">

                <div class="question-text">Как проверить строку на соответствие шаблону, заданному регулярным выражением?</div>        
        
        <ul class="answers">
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">str =~ /regex/</p>
                <p style="position:absolute; right:11px;">444 / 746</p>
            </li>
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">str =~ Regexp.new('\w')</p>
                <p style="position:absolute; right:11px;">397 / 746</p>
            </li>
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">str[/regexp/]</p>
                <p style="position:absolute; right:11px;">277 / 746</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">str == ?regex?</p>
                <p style="position:absolute; right:11px;">82 / 746</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class=" correct ">str[%r{regexp}]</p>
                <p style="position:absolute; right:11px;">269 / 746</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class=" correct ">str.match /regex/</p>
                <p style="position:absolute; right:11px;">511 / 746</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class=" correct ">str[%r?regexp?]</p>
                <p style="position:absolute; right:11px;">218 / 746</p>
            </li>
                        <li class="last">
                                <input disabled="disabled" type="checkbox">
                                <p class="">str =~ "regex"</p>
                <p style="position:absolute; right:11px;">137 / 746</p>
            </li>
                    </ul>

        
        <p class="explanation">Пояснение: Проверку объекта класса String на соответствие шаблону можно провести с помощью метода &lt;a href=" http://ruby-doc.org/core/classes/String.html#M000777&gt;=~&lt;/a&gt;
либо с помощью метода &lt;a href="http://ruby-doc.org/core/classes/String.html#M000778"&gt;match&lt;/a&gt;
Притом в отличае от метода `match` метод `=~` принимает в качестве аргумента только экземпляр класса Regexp, короткая запись для создания котороко - /pattern/.</p>

        <div class="footer">
            <span class="author">Автор: <a href="/user/iv_s">iv_s</a></span><span id="question-tools-daZulTvbH13B"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/daZulTvbH13B"></div>

    </div>
</div>

                    <div id="question-KQGVqxW2aqHH" class="question-result">
    <div class="question  correct ">

                <div class="question-text">Какой из списков примитивных типов Ruby наиболее полон?</div>        
        
        <ul class="answers">
                        <li>
                                <input name="KQGVqxW2aqHH-answers" disabled="disabled" type="radio">
                                <p class="">int, char, date, long</p>
                <p style="position:absolute; right:11px;">53 / 932</p>
            </li>
                        <li>
                                <input name="KQGVqxW2aqHH-answers" disabled="disabled" type="radio">
                                <p class="">Array, Numeric, String, Hash, Range</p>
                <p style="position:absolute; right:11px;">83 / 932</p>
            </li>
                        <li>
                                <input name="KQGVqxW2aqHH-answers" disabled="disabled" type="radio">
                                <p class="">Array, Numeric, String, Hash, Range, File, Method, Module</p>
                <p style="position:absolute; right:11px;">69 / 932</p>
            </li>
                        <li>
                                <input name="KQGVqxW2aqHH-answers" disabled="disabled" type="radio">
                                <p class="">Array, Numeric, String, Hash, Range, Regexp</p>
                <p style="position:absolute; right:11px;">93 / 932</p>
            </li>
                        <li class="last">
                                <input name="KQGVqxW2aqHH-answers" disabled="disabled" checked="checked" type="radio">
                                <p class=" correct ">в Ruby нет примитивных типов</p>
                <p style="position:absolute; right:11px;">631 / 932</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/admin">admin</a></span><span id="question-tools-KQGVqxW2aqHH"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/KQGVqxW2aqHH"></div>

    </div>
</div>

                    <div id="question-D4VkOltiHbIk" class="question-result">
    <div class="question  incorrect ">

                <div class="question-text">Что напечатает следующий код:

[0..2].each do |i|
    puts i
end
</div>        
        
        <ul class="answers">
                        <li>
                                <input name="D4VkOltiHbIk-answers" disabled="disabled" type="radio">
                                <p class="">0<br>
1<br>
2</p>
                <p style="position:absolute; right:11px;">474 / 907</p>
            </li>
                        <li>
                                <input name="D4VkOltiHbIk-answers" disabled="disabled" type="radio">
                                <p class="">0<br>
1</p>
                <p style="position:absolute; right:11px;">65 / 907</p>
            </li>
                        <li>
                                <input name="D4VkOltiHbIk-answers" disabled="disabled" type="radio">
                                <p class="">1</p>
                <p style="position:absolute; right:11px;">8 / 907</p>
            </li>
                        <li>
                                <input name="D4VkOltiHbIk-answers" disabled="disabled" type="radio">
                                <p class=" correct ">0..2</p>
                <p style="position:absolute; right:11px;">317 / 907</p>
            </li>
                        <li class="last">
                                <input name="D4VkOltiHbIk-answers" disabled="disabled" checked="checked" type="radio">
                                <p class="">возникнет ошибка выполнения</p>
                <p style="position:absolute; right:11px;">39 / 907</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/admin">admin</a></span><span id="question-tools-D4VkOltiHbIk"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 5)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/D4VkOltiHbIk"></div>

    </div>
</div>

                    <div id="question-AlKaYP0dcB5G" class="question-result">
    <div class="question  correct ">

                <div class="question-text">Что сделает интерпретатор Ruby в первую очередь если не найдет метода в классе, для которого вызван метод. Напр " ".abrakadabra</div>        
        
        <ul class="answers">
                        <li>
                                <input name="AlKaYP0dcB5G-answers" disabled="disabled" type="radio">
                                <p class="">В любом случае вызовет ошибку.</p>
                <p style="position:absolute; right:11px;">63 / 758</p>
            </li>
                        <li>
                                <input name="AlKaYP0dcB5G-answers" disabled="disabled" type="radio">
                                <p class="">Если в классе определен метод method_missing то обратится к нему.</p>
                <p style="position:absolute; right:11px;">179 / 758</p>
            </li>
                        <li>
                                <input name="AlKaYP0dcB5G-answers" disabled="disabled" type="radio">
                                <p class="">Вернет nil.</p>
                <p style="position:absolute; right:11px;">44 / 758</p>
            </li>
                        <li class="last">
                                <input name="AlKaYP0dcB5G-answers" disabled="disabled" checked="checked" type="radio">
                                <p class=" correct ">Будет искать вызваный метод в предках класса (классах-прародителях, суперклассах) класса.</p>
                <p style="position:absolute; right:11px;">469 / 758</p>
            </li>
                    </ul>

        
        <p class="explanation">Пояснение: Интерпретатор если не нашел метода в классе сначала будет искать его в прародителе класса, если он там не найден то интрепретатор пойдет дальше по иерархии классов и если нигде не найдет нужного метода то обратится к method_missing класса. Если у класса нет метода method_missing то он будет искаться по лестнице классов вплоть до Object, а method_missing класса Object выдаст ошибку.</p>

        <div class="footer">
            <span class="author">Автор: <a href="/user/yaku_toi">yaku_toi</a></span><span id="question-tools-AlKaYP0dcB5G"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/AlKaYP0dcB5G"></div>

    </div>
</div>

                    <div id="question-BeRJTtahl2Li" class="question-result">
    <div class="question  incorrect ">

                <div class="question-text">В каких случаях необходимо использовать цикл, а не итератор?</div>        
        
        <ul class="answers">
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">Обработка последовательности, а не массива.</p>
                <p style="position:absolute; right:11px;">456 / 830</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class="">Обработка элементов массива.</p>
                <p style="position:absolute; right:11px;">187 / 830</p>
            </li>
                        <li>
                                <input disabled="disabled" type="checkbox">
                                <p class=" correct ">Неизвестно количество обрабатываемых элементов.</p>
                <p style="position:absolute; right:11px;">515 / 830</p>
            </li>
                        <li class="last">
                                <input disabled="disabled" type="checkbox">
                                <p class="">Всегда! Итераторы вообще не нужная конструкция.</p>
                <p style="position:absolute; right:11px;">26 / 830</p>
            </li>
                    </ul>

        
        <p class="explanation">Пояснение: Использование итератора предпочтительней, но не всегда возможно.</p>

        <div class="footer">
            <span class="author">Автор: <a href="/user/rubynovich">rubynovich</a></span><span id="question-tools-BeRJTtahl2Li"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 8)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/BeRJTtahl2Li"></div>

    </div>
</div>

                    <div id="question-kgYrUl26osXk" class="question-result">
    <div class="question  correct ">

                <div class="question-text">В Ruby приняты определенные правила именования переменных. Какие из нижеперечисленных правил верны?</div>        
        
        <ul class="answers">
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">Глобальные переменные начинаются со знака "доллар" ($).</p>
                <p style="position:absolute; right:11px;">632 / 793</p>
            </li>
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">Переменные объекта начинаются со знака "собака" (@).</p>
                <p style="position:absolute; right:11px;">692 / 793</p>
            </li>
                        <li>
                                <input disabled="disabled" checked="checked" type="checkbox">
                                <p class=" correct ">Переменные класса начинаются с "двойной собаки" (@@).</p>
                <p style="position:absolute; right:11px;">618 / 793</p>
            </li>
                        <li class="last">
                                <input disabled="disabled" type="checkbox">
                                <p class="">Никакое из указанных правил не является верным.</p>
                <p style="position:absolute; right:11px;">43 / 793</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/rubynovich">rubynovich</a></span><span id="question-tools-kgYrUl26osXk"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

        <div class="hidden question-comments" id="comments-question/kgYrUl26osXk"></div>

    </div>
</div>

                    <div id="question-oZbnEBSa9qnW" class="question-result">
    <div class="question  correct ">

                <div class="question-text">Что будет хранится в элементе array[-3] следующего массива:

array = [1, 2, 3, 4, 5, 6, 7]
</div>        
        
        <ul class="answers">
                        <li>
                                <input name="oZbnEBSa9qnW-answers" disabled="disabled" type="radio">
                                <p class="">Ничего не вернет, так как элемент с таким индексом пуст</p>
                <p style="position:absolute; right:11px;">62 / 950</p>
            </li>
                        <li>
                                <input name="oZbnEBSa9qnW-answers" disabled="disabled" type="radio">
                                <p class="">возникнет ошибка выполнения</p>
                <p style="position:absolute; right:11px;">51 / 950</p>
            </li>
                        <li>
                                <input name="oZbnEBSa9qnW-answers" disabled="disabled" type="radio">
                                <p class="">1</p>
                <p style="position:absolute; right:11px;">7 / 950</p>
            </li>
                        <li>
                                <input name="oZbnEBSa9qnW-answers" disabled="disabled" type="radio">
                                <p class="">3</p>
                <p style="position:absolute; right:11px;">12 / 950</p>
            </li>
                        <li>
                                <input name="oZbnEBSa9qnW-answers" disabled="disabled" type="radio">
                                <p class="">4</p>
                <p style="position:absolute; right:11px;">37 / 950</p>
            </li>
                        <li class="last">
                                <input name="oZbnEBSa9qnW-answers" disabled="disabled" checked="checked" type="radio">
                                <p class=" correct ">5</p>
                <p style="position:absolute; right:11px;">779 / 950</p>
            </li>
                    </ul>

        
        

        <div class="footer">
            <span class="author">Автор: <a href="/user/admin">admin</a></span><span id="question-tools-oZbnEBSa9qnW"><div><a href="">Комментировать вопрос</a><span class="comments-count">(всего: 0)</span></div></span>
        </div>

    </div>
</div>

        
