.page-header

  %h2 Настройки подписки

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#properties
    %thead
      %tr
        %th Подписчик
        %th Тип объекта
        %th Дата активации настройки подписки
        %th Дата деактивации настройки подписки
        %th Удалено
        %th
        %th
        %th

    %tbody
      - @properties.each do |property|
        %tr
          %td= property.system.name
          %td= property.objecttype.name
          %td= property.start_date
          %td= property.end_date
          %td= property.is_close
          %td.show1= link_to image_tag("show.png"), property
          %td.edit= link_to image_tag("edit.png"), edit_property_path(property)
          %td.del= link_to image_tag("remove.png"), property, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_property_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новая настройка подписки
