.row
  .col-md-8.col-md-offset-2
    = form_for @modulator, html: { class: "form-horizontal" } do |f|
      -if @modulator.errors.any?
        .alert.alert-danger.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          %h4= "Ошибок: #{@modulator.errors.count} "

          %ul
            - @modulator.errors.full_messages.each do |msg|
              %li= msg

      .form-group.input-group
        %span.input-group-addon
          %i Контрагент
        - if @modulator.new_record?  
          = f.collection_select( :contractor_id, @contractors, :first, :second, |
                  { prompt: @modulator.contractor_id ? nil : "Выберите контрагента", |
                  selected: @modulator.contractor_id ? @modulator.contractor_id : nil}, class: 'form-control' )
        - else
          = text_field_tag :contractor, @modulator.contractor.short_name, class: 'form-control', disabled: 'disabled'
      .form-group.input-group
        %span.input-group-addon
          %i Планируемый объем перевозок 
        = f.number_field :traffic, class: 'form-control'

      .form-group
        = f.submit 'Сохранить', class: 'btn btn-primary'

    :coffeescript
      $(document).off('focusin.modal')