.apple_pagination

  - if current_letter == 'all'
    %span.badge Все
  - else
    = link_to "Все", "/#{controller.controller_name}/#{controller.action_name == 'index' ? '' : controller.action_name}?letter=all"

  - letters.each do |letter|
    - unless letter == current_letter 
      = link_to letter, "/#{controller.controller_name}/#{controller.action_name}?letter=#{letter}" 
    - else 
      %em.current= letter    