  <table>
    <% for phone in @phones do %>
    <tr>
      <th>Номер телефона:</th><td><%= phone.phone %></td>
      <th>Дата активации:</th><td><%= phone.start_date %></td>
      <th>Дата де-активации:</th><td><%= phone.end_date %></td>
    </tr>
    <% end %>
    <tr>
      <th colspan="3">
        <%= link_to  action: "show_part", part: "select_phone", id: @person , remote: true do %>
          <%= image_tag( "edit.png", style: "width: 20px; cursor: pointer;") %> Редактировать номера телефонов.
        <% end %>
      </th>
    </tr>
  </table>