.row
  .col-md-8.col-md-offset-2
    = form_tag url_for(action: @url), class: 'well well-sm form-inline text-center clearfix' do 
      = link_to "с: #{@default_from.to_date} по: #{@default_to.to_date}", {action: @url}, class: "btn btn-info btn-xs"
      = label_tag :from, "Дата с:"
      = text_field_tag :from, (@from || @default_from).to_date, size: 10, class: "select_date"

      = label_tag :to, "Дата по:"
      = text_field_tag :to, (@to || @default_to).to_date, size: 10, class: "select_date"

      = submit_tag "Выбрать", class: "btn btn-primary btn-xs"
