- unless @error
  = save_reports_xls(@table_column_names, @table_body)

  %table#show_table
    %thead
      %tr
        - @table_column_names.each do |column_name|
          %th= column_name
    %tbody
      - @table_body.each do |row|
        %tr
          - row.each do |col|
            %td= col

  :coffeescript
    $(document).ready ->
      $("#show_table").dataTable
        lengthMenu: [[30, 60, 100, -1], [30, 60, 100, "Все"]]
        columnDefs: [type: 'date-euro', targets: [#{@date_columns.join(', ')}]]
- else
  .alert.alert-danger.col-md-4.col-md-offset-4
    %strong Ошибка:
    = @error