.page-header
  %h2 Категории ТС

.col-md-6.col-md-offset-3

  %table#transportcategories
    %thead 
      %tr
        %th Категория
        %th Описание
        %th Типы ТС
        %th 
        %th 
    %tbody
      - @transportcategories.each do |transportcategory|
        %tr
          %td
            %strong= transportcategory.name 
            - if transportcategory.is_close
              %span.red удалено
          %td= transportcategory.descr
          %td= transportcategory.transporttypes.pluck(:name).join('; ')
          %td.edit= link_to  image_tag("edit.png"), edit_transportcategory_path(transportcategory) 
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), transportcategory, method: :delete, data: { confirm: 'Точно?' } unless transportcategory.is_close

  = link_to 'Новая категория', new_transportcategory_path, class: 'btn btn-primary'
