<h2>Просмотр подразделения</h2>
<table>
  <tr>
    <th>Parent:</th>
    <td><%= @department.parent_id %></td>
  </tr>
  <tr>
    <th>Rgt:</th>
    <td><%= @department.rgt %></td>
  </tr>
  <tr>
    <th>Lgt:</th>
    <td><%= @department.lft %></td>
  </tr>
  <tr>
    <th>Contractor:</th>
    <td><%= @department.contractor.name %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @department.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @department.descr %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_department_path(@department) %>
    <%= link_to 'Вернуться', departments_path %>
    </th>
  </tr>
</table>

 

