= form_for @transporttank, html: { role: "form" } do |f| 
  - if @transporttank.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@transporttank.errors.count}"

      %ul
        - @transporttank.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Модель ТС
    = f.collection_select :transportmodel_id, Transportmodel.visible, :id, :name, |
      { prompt: @transporttank.transportmodel_id.nil? ? "Выберите модель ТС" : nil, |
        selected: @transporttank.transportmodel_id.nil? ? nil : @transporttank.transportmodel_id }, class: "form-control" 
  .form-group.input-group
    %span.input-group-addon
      %i Объём топливного бака
    = f.number_field :v_tank, class: "form-control", size: 10 
  .form-group.input-group
    %span.input-group-addon
      %i Минимальный остаток топлива
    = f.number_field :v_tank_min, class: "form-control", size: 10 
  .form-group.input-group
    = f.label :is_close , 'Удалено'
    = f.check_box :is_close

  = f.submit "Сохранить", class: 'btn btn-primary'
  = link_to 'Вернуться к топливным бакам', transporttanks_path , class: 'btn btn-default'
