<h2>Типы договоров</h2>


<%#= will_paginate @contract_types, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый тип договора', new_contract_type_path, method: :get %></th></tr>
</table>
<table id="contract_types" class="display">
  <thead>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @contract_types.each do |contract_type| %>
  <tr>
    <td><%= contract_type.name %></td>
    <td><%= contract_type.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contract_type_path(contract_type) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contract_type, method: :delete, data: { confirm: 'Точно?' } unless contract_type.is_close %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<table>
<tr><th><%= button_to 'Новый тип договора', new_contract_type_path, method: :get if @contract_types.size > 10 %></th></tr>
</table>

<%#= will_paginate @contract_types, class: "apple_pagination"  %>