<h2>Просмотр </h2>
<table>
  <tr><th>Название:</th><td><%= @functional.name %></td></tr>
  <tr><th>Описание:</th><td><%= @functional.description %></td></tr>
  <tr><th>Модуль:</th><td><%= @functional.part %></td></tr>
  <tr><th>Начало действия:</th><td><%= @functional.start %></td></tr>
  <tr><th>Окончание действия:</th><td><%= @functional.end %></td></tr>
  <tr><th colspan="2"><%= link_to 'Редактировать', edit_functional_path(@functional) %> <%= link_to 'Вернуться', functionals_path %></th></tr>
</table>
