.page-header


  %h2 Просмотр типа процесса

%dl.dl-horizontal
  %dt Тип процесса:
  %dd= @process_type.name
  %dt Описание:
  %dd= @process_type.descr
  %dt Удален:
  %dd= @process_type.is_close

= link_to edit_process_type_path(@process_type), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    редактировать
= link_to process_types_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться