.page-header
  %h2 Контакты

.col-md-10.col-md-offset-1

  /= link_to new_contact_path, :class => 'btn btn-primary' do
  /    %span.glyphicon.glyphicon-plus
  /      Новый контакт

  %table#contacts
    %thead
      %tr
        %th Физ. лицо
        %th Тип контакта
        %th Контакт
        %th Удален
        %th
        %th

    %tbody
      - @contacts.each do |contact|
        %tr
          %td= contact.person.fullname if contact.person
          %td= contact.contact_type.name if contact.contact_type
          %td= contact.name
          %td= contact.is_close
          %td.edit=# link_to image_tag("edit.png"), edit_contact_path(contact)
          %td.del=# link_to image_tag("remove.png"), contact, :data => { confirm: 'Точно?' }, :method => :delete unless contact.is_close
