
  <% item.children.each do |document| %>
  <tr>
  <!--  <td></td>  -->
    <td><%= document.documentkind.name if document.documentkind %></td>
    <td><%= document.transport.name if document.transport %></td>
    <td><%= document.person.fullname if document.person %></td> 
    <td><%= document.series %>, <%= document.number %></td>
    <td><%= document.category %></td>
    <td><b style="color: red;"><%= document.is_close ? "Удален" : ""%></b></td>
    <td><%#= link_to 'Просмотр', document %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_document_path(document) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), document, method: :delete, data: { confirm: 'Точно?' } %>
    </td>
  </tr>
      <%= render 'children', :item => document unless document.leaf? %>

  <% end %>
