  <% if @documenttype.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @documenttype.errors.count %></h2>

      <ul>
      <% @documenttype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@documenttype) do |f| %>
  <table>
    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :descr, "Описание" %></th>
      <td><%= f.text_area :descr %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удален" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться к типам документов', documenttypes_path %></th>
    </tr>
  </table>
<% end %>
