<h2>Типы документов</h2>
<%#= will_paginate @documenttypes, class: "apple_pagination" %>
<table id="documenttypes">
  <thead>
  <tr>
    <th>Тип документа</th>
    <th>Виды документов</th>
    <th>Описание</th>
    <th>Удален</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @documenttypes.each do |documenttype| %>
  <tr>
    <td><b><%= documenttype.name %></b></td>
    <td><%=link_to "виды документов (#{documenttype.documentkinds.size})" , documentkinds_path(type: documenttype) if documenttype.documentkinds %></td>
    <td><%= documenttype.descr %></td>
    <td><b style="color: red;"><%= documenttype.is_close ? "Удален" : ""%></b></td>
    <td class="edit"><%= link_to image_tag("edit.png"), edit_documenttype_path(documenttype) %></td>
    <td class="del" title="Удалить"><%= link_to image_tag("remove.png"), documenttype, method: :delete, data: { confirm: 'Точно?' } unless documenttype.is_close %></td>
  </tr>
<% end %>
  </tbody>
</table>
  <table>
<tr><th><%= button_to 'Новый тип документа', new_documenttype_path, method: 'get' %></th></tr>
</table>

<%#= will_paginate @documenttypes, class: "apple_pagination" %>

