.page-header
  %h2 Контрагенты

= link_to new_contractor_path, :class => 'btn btn-primary btn-sm' do
  %span.glyphicon.glyphicon-plus
    Новый контрагент

%table#contractors
  %thead
    %tr
      %th Наименование
      %th Краткое наименование
      %th Юр./физ.лицо
      %th Фискальный/<br/>реальный
      %th Тип контрагента
      %th Родитель
      %th ИНН
      %th КПП
      %th Начало сотрудничества
      %th Окончание сотрудничества
      %th
      %th 
      %th 
  %tbody
    - @contractors.each do |contractor|
      %tr
        %td= contractor.name 
        %td= contractor.short_name
        %td= contractor.is_legal ? "Юр.лицо" : "Физ. лицо"
        %td= contractor.is_fiscal ? "Фискальный" : "Реальный" 
        %td= contractor.contractortype.name if contractor.contractortype 
        %td= contractor.parent.name if contractor.child? 
        %td= contractor.inn
        %td= contractor.kpp
        %td= contractor.start_date.strftime("%d.%m.%Y") if contractor.start_date 
        %td= contractor.end_date.strftime("%d.%m.%Y") if contractor.end_date 
        %td.show1= link_to image_tag("show.png"), contractor
        %td.edit= link_to image_tag("edit.png"), edit_contractor_path(contractor)
        %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), contractor, method: :delete, data: { confirm: 'Точно?' } unless contractor.is_close
