<table>
  <tr>
    <th style="width: 200px;">Контрагент</th><td><%= @staff_unit.contractor.name if @staff_unit.contractor %></td>
  </tr>
  <tr>
    <th>Подразделение</th> <td><%= @staff_unit.department.name if @staff_unit.department %></td>
  </tr>
  <tr>
    <th>Должность</th> <td><%= @staff_unit.position.name if @staff_unit.position %></td>
  </tr>
  <tr>
    <th>Статус (руководитель/сотрудник)</th><td><%= @staff_unit.head ? "Руководитель" : "Сотрудник" %></td>
  </tr>
  <tr>
    <th>Описание должностных обязанностей</th><td><%= @staff_unit.descr %></td>
  </tr>
  <tr>
    <th>Удален</th><td style="color: red"><%= @staff_unit.is_close ? "Удален" : "" %></td>
  </tr>
  <tr>
    <th>
    <%= button_to 'Редактировать', edit_staff_unit_path(@staff_unit), method: "get" %>
    </th>
  </tr>
</table>

 

