<h2>Штатные единицы (<%=@staff_units_count%>)</h2>

<%#= will_paginate @staff_units, class: "apple_pagination" %>
<table>
  <tr><th><%= button_to 'Новая штатная единица', new_staff_unit_path, method: 'get' %></th>

    <%= form_tag  url_for( action: 'index'), method: :get do %>
      <td style="width: 200px;"> <%= label_tag "Контрагенты" %>
        <%= select_tag( :contractor, options_for_select(@contractors.map { |m| [m.name, m.id] }, { selected: params[:contractor].blank? ? nil : params[:contractor]}), {prompt: "Все контрагенты:"}) if @contractors.any? %> </td>
      <td style="width: 200px;"> <%= label_tag "Подразделения" %>
        <%= select_tag(:department,  options_for_select(@departments.map { |m| [m.name, m.id, { class: m.contractor_id}] }, { selected: params[:department].blank? ? nil : params[:department] }), {prompt: "Все подразделения:"}) if @departments.any? %>
        </td>
        <th style="width: 70px;">  <%= submit_tag "Выбрать", id: "submit"%> </th>
      <% end %>
    </tr>
  </table>
  <table id="staff_units">
    <thead>
      <tr>
        <th>Контрагент</th>
        <th>Подразделение</th>
        <th>Должность</th>
        <th>Статус</th>
        <th>Сотрудники</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <% @staff_units.each do |staff_unit| %>
        <tr>
          <td <%= 'class=deleted title=Удален' if staff_unit.is_close %>><%= staff_unit.contractor.name if staff_unit.contractor%> </td>
          <td><%= staff_unit.department.name if staff_unit.department %></td>
          <td><%= staff_unit.position.name if staff_unit.position %></td>
          <td><%= staff_unit.head ? "Руководитель" : "Сотрудник" %></td>
          <td>
            <div class="btn-group" data-toggle="buttons-checkbox">
              <a class="btn collapse-data-btn" data-toggle="collapse" href="#details<%= staff_unit.id %>">Посмотреть всех</a>
            </div>
            <div id="details<%= staff_unit.id %>" class="collapse">
              <p>
                <%=raw staff_unit.employees && staff_unit.employees_persons.any? ? staff_unit.employees_persons.compact.map { |p| p.fullname }.join(', ') : '<b style="color: red;">НЕТ</b>' %>
              </p>
            </div>
            (<%= staff_unit.employees && staff_unit.employees_persons.any? ? staff_unit.employees_persons.size : 0 %>)
          </td>
          <td><%= staff_unit.descr %></td>
          <td class="show1">
            <%= link_to image_tag("show.png"), staff_unit, remote: true %>
          </td>
          <td class="edit">
            <%= link_to image_tag("edit.png"), edit_staff_unit_path(staff_unit) %>
          </td>
          <td class="del" title="Удалить">
            <%= link_to image_tag("remove.png"), staff_unit, method: :delete, data: { confirm: 'Точно?' } unless staff_unit.is_close %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <table>
    <tr><th><%= button_to 'Новая штатная единица', new_staff_unit_path, method: 'get' if @staff_units.size > 10 %></th></tr>
  </table>

  <%#= will_paginate @staff_units, class: "apple_pagination"  %>


  <script>
    $(function() {
      $("#department").chained("#contractor");
    });

  </script>