
<% if @objecttypeproperty.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @objecttypeproperty.errors.count %></h2>

      <ul>
      <% @objecttypeproperty.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@objecttypeproperty) do |f| %>
  <table>
    <tr>
      <th><%= f.label :objecttype_id, "Тип объекта" %></th>
      <td>
          <%= f.collection_select( :objecttype_id, Objecttype.visible, :id, :name,
              { prompt: @objecttypeproperty.objecttype ? nil : "Выберите тип объекта",
              selected: @objecttypeproperty.objecttype ? @objecttypeproperty.objecttype.id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :system_id, "Подписчик" %></th>
      <td>
          <%= f.collection_select( :system_id, System.visible, :id, :name,
              { prompt: @objecttypeproperty.system ? nil : "Выберите подписчика",
              selected: @objecttypeproperty.system ? @objecttypeproperty.system.id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description, "Описание" %></th>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <th><%= f.label :start_date, "Дата активации" %></th>
      <td><%= f.text_field :start %></td>
    </tr>
    <tr>
      <th><%= f.label :end_date, "Дата де-активации" %></th>
      <td><%= f.text_field :end %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удалено" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', objecttypeproperties_path %></th>
    </tr>
  </table>
<% end %>

<script>
      $('#objecttypeproperty_start').datetimepicker({ format:'d/m/Y'});
      $('#objecttypeproperty_end').datetimepicker({ format:'d/m/Y'});
</script>