<h2>Просмотрobjecttypeproperties</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @objecttypeproperty.id %></td>
  </tr>
  <tr>
    <th>Objecttype:</th>
    <td><%= @objecttypeproperty.objecttype_id %></td>
  </tr>
  <tr>
    <th>System:</th>
    <td><%= @objecttypeproperty.system_id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @objecttypeproperty.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @objecttypeproperty.descr %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @objecttypeproperty.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @objecttypeproperty.end_date %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @objecttypeproperty.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_objecttypeproperty_path(@objecttypeproperty) %>
    <%= link_to 'Вернуться', objecttypeproperties_path %>
    </th>
  </tr>
</table>

 

