.page-header

  %h2 Шаблоны задач

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#task_templates
    %thead
      %tr
        %th Тип задачи
        %th Шаблон задачи
        %th Описание
        %th Результат/цель решения
        %th Нормативное время исполнения (минут)
        %th Приоритет
        %th
        %th
        %th

    %tbody
      - @task_templates.each do |task_template|
        %tr
          %td= task_template.task_type.task_type
          %td= task_template.name
          %td= task_template.descr
          %td= task_template.objective
          %td= task_template.normative_runtime
          %td= task_template.prioryty
          %td.show1= link_to image_tag("show.png"), task_template
          %td.edit= link_to image_tag("edit.png"), edit_task_template_path(task_template)
          %td.del= link_to image_tag("remove.png"), task_template, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_task_template_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый шаблон задачи