<h2>Таблицы</h2>

<%#= will_paginate @columns, class: "apple_pagination" %>
<table id="tables">
  <thead>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Дата активации</th>
    <th>Дата де-активации</th>
    <th>Удалено</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @tables.each do |table| %>
  <tr>
    <td><%= table.name %></td>
    <td><%= table.description %></td>
    <td><%= table.start %></td>
    <td><%= table.end %></td>
    <td><%= table.is_close %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_table_path(table) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), table, method: :delete, data: { confirm: 'Точно?' } unless table.is_close %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<table><tr><th><%= link_to 'Новый Table', new_table_path %></th></tr></table>
<%#= will_paginate @columns, class: "apple_pagination" %>
