<h2>Просмотрtables</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @table.id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @table.name %></td>
  </tr>
  <tr>
    <th>Description:</th>
    <td><%= @table.description %></td>
  </tr>
  <tr>
    <th>Start:</th>
    <td><%= @table.start %></td>
  </tr>
  <tr>
    <th>End:</th>
    <td><%= @table.end %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @table.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_table_path(@table) %>
    <%= link_to 'Вернуться', tables_path %>
    </th>
  </tr>
</table>

 

