
<h2>Комментарии</h2>
<%= form_tag url_for(action: 'create_comment_ol'), remote: true do  %>
  <%= hidden_field_tag :truck_id, @truck_id %>
  <%= hidden_field_tag :sp_ol, @sp_ol %>
  <table>
    <tr>
      <th style="width: 90px;"><%=  label_tag :comment, "Ваш комментарий:" %></th>
      <td><%= text_area_tag :comment, @last_comment %></td>
    </tr>
    <tr>
      <th><%= submit_tag "Добавить комментарий" %> </th>
      <th style="text-align: right;"> </th>
    </tr>
  </table>
<% end %>

