%h2 
  Состояние ТC 
  %span#count (#{@un_count})
  %span#filter_status= render "filter_status"

#filter_menu= render "filter_menu"
#status_ts
  #upd= render "unavailables"


%script
  interval = setTimeout("csrf(); $.post('/unavailables/#{action_name}.js',{auto:1 })", #{$INTERVAL});
