var xhr;
var fn = function(){
if (xhr) xhr.abort();
xhr = $.post("/unavailables/ol.js", <%=raw @params.to_json %>);
};

$("#count").html("(<%= @un_count %>)");

<% unless @auto %> $("#upd").hide(); <% end %>

$("#upd").delay(300).html("<%=j render "unavailables_ol" %>");

$("#filter_status").html("<%=j render "filter_status" %>");


<% unless @auto %>
  $("#upd").show();
  $("#filter_menu").html("<%=j render "filter_menu" %>");
<% end %>

clearTimeout(interval);
//interval = setTimeout('csrf(); $.post("/unavailables/ol.js", <%=raw @params.to_json %>); clearTimeout(interval);', <%= $INTERVAL_OL %>);

var interval = setTimeout('csrf(); fn(); clearTimeout(interval);', <%= $INTERVAL_OL %>);

