.page-header
  %h2 Связки водитель-тягач

.col-md-10.col-md-offset-1
  .row.well.well-sm
    .col-md-3
      = link_to new_truck_driver_path, :class => 'btn btn-primary btn-sm' do
        %span.glyphicon.glyphicon-plus Новая связка
    = form_tag truck_drivers_path,  html: { class: "form-inline col-md-9 col-md-offset-3", role: "form" } do
      .form-group
        = label_tag "Тягачи"
        = select_tag( :truck, options_for_select(TruckDriver.trucks.map { |m| [m.reg_num, m.transport_id] }, { selected: params[:truck].blank? ? nil : params[:truck]}), {prompt: "Все:"})
        = label_tag "Сотрудники"
        = select_tag(:driver,  options_for_select(Employee.truck_drivers.map { |m| [m.person_fullname, m.id] }, { selected: params[:driver].blank? ? nil : params[:driver] }), {prompt: "Все:"})
        = submit_tag "Выбрать", class: "btn btn-default btn-sm"


  %table#truck_drivers
    %thead
      %tr
        %th= link_to 'Тягач',  truck_drivers_path(sort: 'truck')
        %th= link_to 'Сотрудник',  truck_drivers_path(sort: 'employee')
        %th Начало взаимодействия
        %th Конец взаимодействия
        %th
        %th
    %tbody
      - @truck_drivers.each do |truck_driver|
        %tr
          %td= truck_driver.transport.reg_num if truck_driver.transport
          %td= truck_driver.employee.person_info if truck_driver.employee
          %td= truck_driver.start_date 
          %td= truck_driver.end_date
          %td.edit= link_to image_tag("edit.png"), edit_truck_driver_path(truck_driver)
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), truck_driver, method: :delete, data: { confirm: 'Точно?' } unless truck_driver.is_close