= form_for @process_action_access, :html => { :class => "form-horizontal" } do |f|
  -if @process_action_access.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@process_action_access.errors.count, "error")} "

      %ul
        - @process_action_access.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :process_template_id, 'Шаблон процесса', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select( :process_template_id, ProcessTemplate.visible, :id, :name,
        { prompt: @process_action_access.process_template_id ? nil : "Выберите шаблон процесса",
        selected: @process_action_access.process_template_id ? @process_action_access.process_template_id : nil}  )
  .form-group
    = f.label :process_action_id, 'Действие по процессу', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select( :process_action_id, ProcessAction.visible, :id, :name,
        { prompt: @process_action_access.process_action_id ? nil : "Выберите действие по процессу",
        selected: @process_action_access.process_action_id ? @process_action_access.process_action_id : nil}  )
  .form-group
    = f.label :employee_id, 'Сотрудник', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select( :employee_id, Employee.visible, :id, :person_info,
        { prompt: @process_action_access.employee_id ? nil : "Выберите сотрудника",
        selected: @process_action_access.employee_id ? @process_action_access.employee_id : nil}  )
  .form-group
    = f.label :staff_unit_id, 'Штатная единица', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select( :staff_unit_id, StaffUnit.visible, :id, :cdp,
        { prompt: @process_action_access.staff_unit_id ? nil : "Выберите штатную единицу",
        selected: @process_action_access.staff_unit_id ? @process_action_access.staff_unit_id : nil}  )
  .form-group
    = f.label :start_date, 'Момент начала доступа', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :start_date, :class => 'form-control'
  .form-group
    = f.label :end_date, 'Момент окончания доступа', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :end_date, :class => 'form-control'
  .form-group
    = f.label :is_close, 'Удален', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to process_action_accesses_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться