.page-header

  %h2 Доступ к действиям с шаблонами процессов

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#process_action_accesses
    %thead
      %tr
        %th Действие по процессу
        %th Шаблон процесса
        %th Сотрудник
        %th Штатная единица
        %th Момент начала доступа
        %th Момент окончания доступа
        %th Удален
        %th
        %th
        %th

    %tbody
      - @process_action_accesses.each do |process_action_access|
        %tr
          %td= process_action_access.process_action.name
          %td= process_action_access.process_template.name
          %td= process_action_access.employee.person_info
          %td= process_action_access.staff_unit.cdp
          %td= process_action_access.start_date
          %td= process_action_access.end_date
          %td= process_action_access.is_close
          %td.show1= link_to image_tag("show.png"), process_action_access
          %td.edit= link_to image_tag("edit.png"), edit_process_action_access_path(process_action_access)
          %td.del= link_to image_tag("remove.png"), process_action_access, :data => { confirm: 'Точно?' }, :method => :delete unless process_action_access.is_close

  = link_to new_process_action_access_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Добавление доступа к действиям с шаблонами процессов
