.page-header

  %h2 <%= plural_table_name %>

.table-responsive.col-md-10.col-md-offset-1
  %table.table.table-striped.table-bordered.table-hover#<%= plural_table_name %>
    %thead
      %tr
<% for attribute in attributes -%>
        %th <%= attribute.human_name %>
<% end -%>
        %th
        %th
        %th

    %tbody
      - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
        %tr
<% for attribute in attributes -%>
          %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
          %td.show1= link_to image_tag("show.png"), <%= singular_table_name %>
          %td.edit= link_to image_tag("edit.png"), edit_<%= singular_table_name %>_path(<%= singular_table_name %>)
          %td.del= link_to image_tag("remove.png"), <%= singular_table_name %>, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_<%= singular_table_name %>_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый <%= human_name %>
