.page-header

  %h2 Статусы процессов

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#process_statuses
    %thead
      %tr
        %th Статус процесса
        %th Удален
        %th
        %th
        %th

    %tbody
      - @process_statuses.each do |process_status|
        %tr
          %td= process_status.name
          %td= process_status.is_close
          %td.show1= link_to image_tag("show.png"), process_status
          %td.edit= link_to image_tag("edit.png"), edit_process_status_path(process_status)
          %td.del= link_to image_tag("remove.png"), process_status, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_process_status_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый статус процесса
