.page-header


  %h2 Просмотр статуса процесса

%dl.dl-horizontal
  %dt Name:
  %dd= @process_status.name
  %dt Is close:
  %dd= @process_status.is_close

= link_to edit_process_status_path(@process_status), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to process_statuses_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться