= form_for @role, html: { class: "form-horizontal", role: "form" } do |f| 
  -if  @role.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@role.errors.count} "
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .col-sm-4.control-label= f.label :name, "Наименование"
    .col-sm-8= f.text_field :name

  .form-group
    .col-sm-4.control-label= f.label :descr, "Описание"
    .col-sm-8= f.text_area :descr

  .form-group
    .col-sm-4.control-label= f.label :is_close, "Удалено"
    .col-sm-8= f.check_box :is_close

  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Сохранить', class: 'btn btn-primary btn-sm'        
      = link_to 'Вернуться', roles_path, class: 'btn btn-default btn-sm'  


#additional
  = render partial: "select_role_functional" , locals: {role: @role}
