- @current_functionals = role.functionalgroups
- @addfunctionals = Functionalgroup.roots.visible - @current_functionals


- if @current_functionals.any?
  .panel.panel-default
    .panel-heading Убрать функционал:
    .panel-body
      - for functional in @current_functionals do
        %td
          = link_to url_for(action: "del_functional_from_role", id: role , functional: functional ) , remote: true, data: { confirm: 'Точно?' }, class: "btn btn-danger btn-xs" do
            %span.glyphicon.glyphicon-remove
              = functional.name

- if @addfunctionals.any?
  .panel.panel-default
    .panel-heading Добавить функционал:
    .panel-body
      = form_tag url_for( action: 'select_functional' , id: role) , remote: true do 
        = collection_select(:functional, :id, @addfunctionals, :id, :name) 
        = submit_tag "Добавить", class: "btn btn-primary btn-sm"


