= fields_for "tank[#{@transporttank.object_id}]", @transporttank do |t|
  .form-group.input-group
    %span.input-group-addon
      %i Объём:
    = t.text_field :v_tank, class: "form-control" 
    %span.input-group-addon
      %i Мин. остаток:
    = t.text_field :v_tank_min, class: "form-control" 
    %span.input-group-addon
      %i.glyphicon.glyphicon-remove.red{:style => "cursor: pointer"} 