= save_reports_xls(@group_by_truck_title, @group_by_truck)

%table#processes_group_by_truck
  %thead
    %tr
      - @group_by_truck_title.each do |t|
        %th= t 
  %tbody
    - @group_by_truck.each do |p|
      %tr
        - p.each do |item|
          %td= item