<%  unless @unavailables.blank? %>
$('#index').html('<%=j render 'unavailables'%>');
//	$('#unavailable_resources').dataTable().destroy();
  
	$('#unavailable_resources').dataTable({
      bFilter : false,
	    order : [[ 0, "asc"]],
	    lengthMenu : [[20, 50, 100, -1], [20, 50, 100, "Все"]]
	});
<% end %>
