<h2>Роли видов договоров</h2>


<%#= will_paginate @contract_kind_roles, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новая роль вида договора', new_contract_kind_role_path, method: :get %></th>
  <td style="text-align: right;"> <%= link_to params[:show_del].blank? ? "Удаленные" : "Видимые", params[:show_del].blank? ? contract_kind_roles_path(show_del: 1) : contract_kind_roles_path if ContractKindRole.invisible.any? %>
  </td>
</tr>
</table>
<table  id="contract_kind_roles" class="display">
  <thead>
  <tr>
    <th>Роль вида договора</th>
    <th>Вид договора</th>  
    <th>Тип договора</th>
    <th>Описание</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @contract_kind_roles.group_by(&:contract_kind_id).each do |cki, contract_kind_role| %>
  <% tr_class = cycle("even","") %>
  <% contract_kind_role.each do |ckr| %>
  <tr class="<%= tr_class%>">
    <td><b><%= ckr.name %></b></td>
    <td><%= ckr.contract_kind.name %></td>
    <td><%= ckr.contract_kind.contract_type.name %></td>
    <td><%= ckr.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contract_kind_role_path(ckr) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), ckr, method: :delete, data: { confirm: 'Точно?' } unless ckr.is_close %>
    </td>
  </tr>
  <% end%>
<% end %>
  </tbody>
</table>
<table>
<tr><th><%= button_to 'Новая роль предмета договора', new_contract_kind_role_path, method: :get if @contract_kind_roles.size > 10 %></th></tr>
</table>

<%#= will_paginate @contract_kind_roles, class: "apple_pagination"  %>