<h2>Просмотрcontract_kind_roles</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @contract_kind_role.id %></td>
  </tr>
  <tr>
    <th>Contract subject:</th>
    <td><%= @contract_kind_role.contract_kind_id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @contract_kind_role.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @contract_kind_role.descr %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @contract_kind_role.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_contract_kind_role_path(@contract_kind_role) %>
    <%= link_to 'Вернуться', contract_kind_roles_path %>
    </th>
  </tr>
</table>

 

