= form_for @agreement, :html => { class: "form-horizontal" } do |f|
  -if @agreement.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@agreement.errors.count, "error")} "

      %ul
        - @agreement.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Наименование        
    = f.text_field :name, class: 'form-control'
  .form-group.input-group
    %span.input-group-addon
      %i Описание  
    = f.text_area :descr, class: 'form-control'
  .form-group.input-group
    %span.input-group-addon
      %i Срок жизни согласования (мин)
    = f.number_field :lifetime, in: 1..2000, step: 1, class: 'form-control'
    %span.input-group-addon
      %i Срок использования согласования (мин)
    = f.number_field :time_use, in: 1..2000, step: 1, class: 'form-control'
  .form-group.input-group
    %span.input-group-addon
      %i Количество раз использования согласования
    = f.number_field :uses_number, in: 1..2000, step: 1, class: 'form-control'

    /=# f.check_box :is_close, class: 'form-control'

  = f.submit 'Сохранить', class: 'btn btn-primary'
  = link_to agreements_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
      Вернуться