/*!
 * @copyright &copy; Kartik Visweswaran, Krajee.com, 2014 - 2015
 * @version 1.5.1
 *
 * An extended checkbox plugin for Bootstrap 3 that allows three states and additional styles.
 *
 * For more JQuery/Bootstrap plugins and demos visit http://plugins.krajee.com
 * For more Yii related demos visit http://demos.krajee.com
 */
.cbx-loading {
    width: 25px;
    height: 25px;
    font-size: 0px;
    color: #fff;
    background: transparent url('../img/loading.gif') top left no-repeat;
    border: none;
}

.cbx, .cbx-container {
    display: inline-block;
    cursor: default;
    text-align: center;
    vertical-align: middle;
}

.cbx {
    text-align: center;
    vertical-align: middle;
    border-radius: 3px;
}

.cbx-label {
    cursor: pointer;
    font-weight: 400;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

label + .cbx-container, .cbx-container + label, .cbx-container + .cbx-container {
    margin-left: 5px;
}

label .cbx {
    margin: 0 5px;
}

.cbx-xs {
    width: 16px;
    height: 16px;
    font-size: 0.75em;
}

.cbx-sm {
    width: 19px;
    height: 19px;
    font-size: 13px;
}

.cbx-md {
    width: 24px;
    height: 24px;
    font-size: 17px;
}

.cbx-lg {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    font-size: 22px;
}

.cbx-xl {
    border-radius: 5px;
    width: 36px;
    height: 36px;
    font-size: 26px;
}

.cbx-active {
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    color: #333;
}

.cbx-active:hover, .cbx-active:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.cbx-disabled {
    color: #ddd;
    background: #fcfcfc;
    border: 1px solid #ddd;
    cursor: not-allowed;
}

.has-success .cbx-active {
    border-color: #3c763d;
    color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-success .cbx-active:hover, .has-success .cbx-active:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.has-warning .cbx-active {
    border-color: #8a6d3b;
    color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-warning .cbx-active:hover, .has-warning .cbx-active:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
}

.has-error .cbx-active {
    border-color: #a94442;
    color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .cbx-active:hover, .has-error .cbx-active:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.has-success .cbx-label {
    color: #2b542c;
}

.has-warning .cbx-label {
    color: #66512c;
}

.has-error .cbx-label {
    color: #843534;
}

.cbx-block {
    display: block;
    text-align: left;
}

.cbx-block + .cbx-block {
    margin: 5px 0 0 0;
}