= form_for @transportmodel1c, :html => { :class => "form-horizontal" } do |f|
  -if @transportmodel1c.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@transportmodel1c.errors.count, "error")} "

      %ul
        - @transportmodel1c.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Модель ТС 1С        
    = f.text_field :transportmodel_1c_name, :class => 'form-control', disabled: true
  .form-group.input-group
    %span.input-group-addon
      %i Модель ТС (портал)
    = f.collection_select( :transportmodel_id, Transportmodel.visible, :id, :name, |
        { prompt: @transportmodel1c.transportmodel_id ? nil : "Выберите модель ТС", |
        selected: @transportmodel1c.transportmodel_id ? @transportmodel1c.transportmodel_id : nil}, :class => 'form-control'  )
  .form-group.input-group
    %span.input-group-addon
      %i Удалена
    = f.check_box :is_close

  = f.submit 'Сохранить', :class => 'btn btn-primary'
  = link_to transportmodel1cs_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
      Вернуться


:coffeescript 
  $(":checkbox").checkboxpicker()