.page-header

  %h2 Модели ТС 1С

.table-responsive.col-md-offset-2.col-md-8
  %table.table.table-striped.table-bordered.table-hover#transportmodel1cs
    %thead
      %tr
        %th Модель ТС 1С
        %th Марка ТС
        %th Модель ТС
        %th Удалена
        %th
        %th

    %tbody
      - @transportmodel1cs.each do |transportmodel1c|
        %tr{:class => "#{cycle('even', '')}"}
          %td= transportmodel1c.transportmodel_1c_name
          %td= transportmodel1c.transportmodel.transportbrand.name if transportmodel1c.transportmodel and transportmodel1c.transportmodel.transportbrand
          %td= transportmodel1c.transportmodel.name if transportmodel1c.transportmodel
          %td= transportmodel1c.is_close ? 'Да' : 'Нет'
          %td.edit= link_to image_tag("edit.png"), edit_transportmodel1c_path(transportmodel1c)
          %td.del= link_to image_tag("remove.png"), transportmodel1c, :data => { confirm: 'Точно?' }, :method => :delete unless transportmodel1c.is_close

  
