.well.well-sm
  = form_tag url_for(action: 'create_comment_ol'), remote: true do  
    = hidden_field_tag :truck_id, @truck_id 
    = hidden_field_tag :sp_ol, @sp_ol
    .form-group.input-group
      %span.input-group-addon
        %i Ваш комментарий:
      = text_area_tag :comment, @last_comment, class: 'form-control'

    = submit_tag 'Добавить комментарий', class: 'btn btn-primary'
