%h2 
  Состояние ТC ОЛ
  %span#count (#{@ts_ol_count})

#filter_status.text-center= render "filter_status"
#filter_menu= render "filter_menu"
#status_ts_ol= render "index"


:javascript
  var xhr;
  setInterval("if (xhr) xhr.abort(); xhr = $.get('/status_ts_ol/index.js');", 15000);
