
<% @upl.each_with_index do |upl, ind| %>
<tr class="<%= cycle("","even") %>">
  <td title="<%=@col_names[0]%>"><%= upl.logist_name %> </td>
  <td title="<%=@col_names[1]%>"><%=  upl.truck %> </td>
  <td title="<%=@col_names[2]%>"><%=  upl.city_release %></td>
  <td title="<%=@col_names[3]%>"><%=  upl.current_client_route %></td>
  <td title="<%=@col_names[4]%>"><%=  upl.current_status %></td>
  <td title="<%=@col_names[5]%>"><%=  upl.release_date %></td>
  <td title="<%=@col_names[6]%>"><%=  upl.release_time %></td>
  <td title="<%=@col_names[7]%>"><%=  upl.logist_comment_link ? link_to( upl.logist_comment, "#{upl.logist_comment_link}") : upl.logist_comment %></td>
  <td title="<%=@col_names[8]%>"><%=  upl.manager_name %></td>
  <td title="<%=@col_names[9]%>"><%=  upl.tariff %></td>
  <td title="<%=@col_names[10]%>"><%=  upl.mileage %></td>
  <td title="<%=@col_names[11]%>"><%=  upl.rr_km %></td>
  <td title="<%=@col_names[12]%>"><%=  upl.manager_comment_link ? link_to( upl.manager_comment, "#{upl.manager_comment_link}") : upl.manager_comment %> </td>
</tr>
<% end %>



