
<%= render "filter_menu" %>
<div id="a_paginate"> <%= render 'paginate'  %> </div>
<table id="uploading">
  <thead id="thead">
    <%= render 'upl_thead' if @data %>
  </thead>
  <tbody id="tbody">
    <%= render 'upl_tbody' if @data %>
  </tbody>
</table>


<script>
  $(function(){
 var source = new EventSource('/stream/uploading');
 source.addEventListener("finished", function(e){
   $('#out').html(e.data);
   source.close();
 });
  source.addEventListener("message", function(e){
  //console.log(JSON.parse(e.data));
  csrf();
  $.post("/uploadings/index.js", JSON.parse(e.data));
 });
 
 //.onmessage = function(e) {
  //$('#out').html(JSON.parse(e.data));
  //console.log(JSON.parse(e.data));
 // csrf();
//  $.post("/home/index.js", JSON.parse(e.data));
// };
});
</script>  