.page-header


  %h2 Просмотр question_answer

%dl.dl-horizontal
  %dt Agreement request:
  %dd= @question_answer.agreement_request_id
  %dt Person:
  %dd= @question_answer.person_id
  %dt Dn:
  %dd= @question_answer.dn
  %dt Question date:
  %dd= @question_answer.question_date
  %dt Answer date:
  %dd= @question_answer.answer_date
  %dt Answer text:
  %dd= @question_answer.answer_text
  %dt Is close:
  %dd= @question_answer.is_close

= link_to edit_question_answer_path(@question_answer), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to question_answers_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться