= form_for @transporttype, html: { role: "form" } do |f| 
  - if @transporttype.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@transporttype.errors.count}"

      %ul
        - @transporttype.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Категория ТС
    = f.collection_select :transportcategory_id, Transportcategory.visible, :id, :name, |
        { prompt: @transporttype.transportcategory ? nil : "Выберите категрию ТС", |
          selected: @transporttype.transportcategory ? @transporttype.transportcategory.id : nil}, class: "form-control" 
  .form-group.input-group
    %span.input-group-addon
      %i Наименование
    = f.text_field :name, class: "form-control" 
  .form-group.input-group
    %span.input-group-addon
      %i Описание
    = f.text_area :descr, class: "form-control" 
  .form-group.input-group
    = f.label :is_close , 'Удалено'
    = f.check_box :is_close

  = f.submit "Сохранить", class: 'btn btn-primary'
  = link_to 'Вернуться', transporttypes_path , class: 'btn btn-default'
