.page-header
  %h2 Типы ТС

.col-md-8.col-md-offset-2

  %table#transporttypes
    %thead 
      %tr
        %th Категория
        %th Тип ТС
        %th Виды ТС
        %th Описание
        %th 
        %th 
    %tbody
      - @transporttypes.each do |transporttype|
        %tr
          %td= transporttype.transportcategory.name if transporttype.transportcategory
          %td
            %strong= transporttype.name
            - if transporttype.is_close
              %span.red удалено
          %td= transporttype.transportkinds.pluck(:name).join('; ')
          %td= transporttype.descr
          %td.edit= link_to image_tag("edit.png"), edit_transporttype_path(transporttype) 
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), transporttype, method: :delete, data: { confirm: 'Точно?' } unless transporttype.is_close

  = link_to 'Новый тип ТС', new_transporttype_path, class: 'btn btn-primary'




