.page-header


  %h2 Просмотр действия по процессам

%dl.dl-horizontal
  %dt Действие по процессам:
  %dd= @process_action.name
  %dt Описание:
  %dd= @process_action.descr
  %dt Удалено:
  %dd= @process_action.is_close

= link_to edit_process_action_path(@process_action), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to process_actions_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться