.page-header


  %h2 Просмотр contractor_analysis_parameter

%dl.dl-horizontal
  %dt Name:
  %dd= @contractor_analysis_parameter.name

= link_to edit_contractor_analysis_parameter_path(@contractor_analysis_parameter), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to contractor_analysis_parameters_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться