= form_for @gps_nav_transport, html: { class: "form-horizontal", role: "form" }, remote: true do |f|
  -if  @gps_nav_transport.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@gps_nav_transport.errors.count} "
      %ul
        - @gps_nav_transport.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :id unless @gps_nav_transport.new_record?
  = f.hidden_field :transport_id
  .alert.alert-info
    %strong Тягач
    = @truck.reg_num
  .well.well-sm
    .form-group
      .col-sm-4.control-label= f.label :gps_nav_id, "GPS-навигатор"
      .col-sm-8
        - if @gps_nav_transport.new_record?
          = f.collection_select( :gps_nav_id, @gps, :id, :name, |
            { prompt: @gps_nav_transport.gps_nav_id ? nil : "Выберите GPS-навигатор", |
            selected: @gps_nav_transport.gps_nav_id ? @gps_nav_transport.gps_nav_id : nil}, :class => 'form-control' ) 
        - else
          .alert.alert-info= @gps_nav_transport.gps_nav.name
    .form-group
      .col-sm-4.control-label= f.label :start_date, "С"
      .col-sm-7= f.text_field :start_date, size: 10
    .form-group
      .col-sm-4.control-label= f.label :end_date, "По"
      .col-sm-8= f.text_field :end_date, size: 10
    .form-group
      .col-sm-offset-4.col-sm-8
        = f.submit 'Сохранить', :class => 'btn btn-primary btn-sm'


:coffeescript
  $('#gps_nav_transport_start_date').datetimepicker timepicker: true
  $('#gps_nav_transport_end_date').datetimepicker timepicker: true
