.table-responsive
  %table#gps_nav_transports
    %thead
      %tr
        %th Тягач
        %th GPS-навигатор
        %th C
        %th По
        %th Редактировал
    %tbody
      - @trucks.each do |truck|
        %tr{:id=> "#{truck.id}", :class => "#{'select_green' if @truck and @truck.id == truck.id}"}
          %td= link_to truck.reg_num, show_gps_nav_gps_nav_transport_path(truck), remote: true, class: "btn btn-default btn-xs"
          %td= truck.gps_nav_name
          %td= truck.gps_start_date
          %td= truck.gps_end_date
          %td= truck.editor_name

