$("#show_gps_nav").html("#{j render 'show_gps_nav' }");

$("#gps_nav_buttons").html("#{j render 'gps_transport_buttons' }");
$('#popup').hide();
$('#popup_content').html('');
$("#gps_nav_transports .select_green").removeClass('select_green')
$("##{@truck.id}").addClass('select_green')
