<h2>Просмотр типа документа (<%= @documentkind.name%>)</h2>
<table>
  <tr>
    <th>Тип документа:</th>
    <td><%= @documentkind.documenttype.name %></td>
  </tr>
  <tr>
    <th>Наимнование:</th>
    <td><%= @documentkind.name %></td>
  </tr>
  <tr>
    <th>Описание:</th>
    <td><%= @documentkind.descr %></td>
  </tr>
  <tr>
    <th>Необходим в рейсе:</th>
    <td><%= @documentkind.is_needed ? "Да" : "Нет" %></td>
  </tr>
  <tr>
    <th>Удален:</th>
    <td><b style="color: red;"><%= @documentkind.is_close ? "Удален" : ""%></b></td>
  </tr> 
</table>
<% unless @documentkind.documentattr %>
<h2 style="color: red;">Необходимые поля не указаны. Отредактируйте вид документа.</h2>
<% else %>
<h2>Необходимые поля </h2>
  <table style="table-layout: fixed">
    <tr>
      <th>Серия:</th>
      <th>Номер:</th>
      <th>Категория:</th>
      <th>Рег. знак:</th>
      <th>Кем выдан:</th>
      <th>Дата выдачи:</th>
      <th>Начало срока действия:</th>
      <th>Окончание срока действия:</th>
    </tr>
    <tr>
      <td><%= @documentkind.documentattr.series ? "Да" : "Нет" %></td>
      <td><%= @documentkind.documentattr.number ? "Да" : "Нет" %></td>
      <td><%= @documentkind.documentattr.category ? "Да" : "Нет" %></td>
      <td><%= @documentkind.documentattr.registration ? "Да" : "Нет" %></td>
      <td><%= @documentkind.documentattr.issued_by ? "Да" : "Нет" %></td>
      <td><%= @documentkind.documentattr.issued_date ? "Да" : "Нет" %></td>
      <td><%= @documentkind.documentattr.start_date ? "Да" : "Нет" %></td>
      <td><%= @documentkind.documentattr.end_date ? "Да" : "Нет" %></td>
    </tr>
  </table>
<% end %>
<table>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_documentkind_path(@documentkind) %>
    <%= link_to 'Вернуться к видам документов', documentkinds_path %>
    </th>
  </tr>
</table>

 

