!!!
%html 
  %head
  %title Монополия. 
  %meta
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body{ :onload => "notice('#{flash[:notice]}')" }
  = render 'layouts/header_bootstrap'

  .container.content
    #popup.col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-6.col-sm-offset-1.col-sm-10.well.well-sm
      #popup_head.col-md-12 
        %span 
        #popup_close
          =image_tag("remove.png", style: "width: 15px;")  
      #popup_content{:class => 'alert alert-success', "role" => 'alert'}
    = yield